.bm-adminbar
    .bm-adminbar__left
        ul(dropdown)
            li 
                a.bm-collapse-menu-mobile.d-md-none(href="javascript:void(0)")
                    i.fa-solid.fa-bars
            li
                a(href="#") 
                    i.fa-solid.fa-home
                    span.title Trắc nghiệm demo
                ul.dropdown-menu
                    li
                        a(href="#") Bảng tin
                    li
                        a(href="#") Giao diện
                    li
                        a(href="#") Menus
            li
                a(href="#") 
                    i.fa-solid.fa-plus
                    span.title Tạo Mới
                ul.dropdown-menu
                    li
                        a(href="#") Trang
                    li
                        a(href="#") Bài viết
                    li
                        a(href="#") Sản phẩm
                    li
                        a(href="#") Bảng giá
            li
                a(href="#", class="bm-adminbar-edit") 
                    i(class="fa-solid fa-pen") 
                    span.title Sửa trang
    
    .bm-adminbar__right
        ul(dropdown)
            li
                a(href="#") Chào, Bá Mão 
                    img(width="25", src="../images/default-avatar.png", alt="Bá Mão")
                ul.dropdown-menu
                    li
                        a(href="#")
                            i(class="fa fa-user")
                            | Sửa hồ sơ
                    li
                        a(href="#")
                            i(class="fa fa-sign-out")
                            | Đăng xuất
