extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-request-password-change"
    -typeMenu = ""

block container
    section.bm-request-password-change
        .container
            .bm-request-password-change__wrap
                h2 Yêu Cầu Thay Đổi Mật Khẩu
                .bm-request-password-change__desc Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn mã OTP để đặt lại mật khẩu.
                form(method="POST")
                    +bm-input("text", "email-password-change", "Email", "")
                    .bm-form-group 
                        button(type="submit" class="bm-btn bm-btn-primary") Gửi OTP
           
