extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-upload-avatar"
    -typeMenu = ""

block container    
            
    section.bm-upload-avatar 
        .container
            .bm-upload-avatar__wrap
                .bm-upload-avatar__head
                    h2.bm-upload-avatar__title Cập nhập Avatar
                .bm-upload-avatar__gallery
                    form(class="dropzone dash-gallery" id="upload-avatar-user" action="upload_avatar.php" method="post" enctype="multipart/form-data")
                        .dz-message
                            img(src="./images/uploading-icon.svg", alt="")
                            h2 Kéo thả ảnh vào đây
                            p Hoặc chọn ảnh từ máy tính của bạn
                            .dash-gallery__cta 
                                a(href="#" class="bm-btn bm-btn-primary") 
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1667 1.875C12.5119 1.875 12.7917 2.15482 12.7917 2.5V5.83333C12.7917 5.88859 12.8137 5.94158 12.8528 5.98065C12.8918 6.01972 12.9448 6.04167 13.0001 6.04167H16.3334C16.6786 6.04167 16.9584 6.32149 16.9584 6.66667C16.9584 7.01184 16.6786 7.29167 16.3334 7.29167H13.0001C12.6133 7.29167 12.2424 7.13802 11.9689 6.86453C11.6954 6.59104 11.5417 6.22011 11.5417 5.83333V2.5C11.5417 2.15482 11.8216 1.875 12.1667 1.875Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.33341 3.125C6.05715 3.125 5.7922 3.23475 5.59685 3.4301C5.40149 3.62545 5.29175 3.8904 5.29175 4.16667V15.8333C5.29175 16.1096 5.40149 16.3746 5.59685 16.5699C5.7922 16.7653 6.05715 16.875 6.33341 16.875H14.6667C14.943 16.875 15.208 16.7653 15.4033 16.5699C15.5987 16.3746 15.7084 16.1096 15.7084 15.8333V6.92555L11.9079 3.125H6.33341ZM4.71296 2.54621C5.14273 2.11644 5.72563 1.875 6.33341 1.875H12.1667C12.3325 1.875 12.4915 1.94085 12.6087 2.05806L16.7754 6.22472C16.8926 6.34193 16.9584 6.50091 16.9584 6.66667V15.8333C16.9584 16.4411 16.717 17.024 16.2872 17.4538C15.8574 17.8836 15.2745 18.125 14.6667 18.125H6.33341C5.72563 18.125 5.14273 17.8836 4.71296 17.4538C4.28319 17.024 4.04175 16.4411 4.04175 15.8333V4.16667C4.04175 3.55888 4.28319 2.97598 4.71296 2.54621Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5001 14.7917C10.1549 14.7917 9.87508 14.5118 9.87508 14.1667L9.87508 9.16667C9.87508 8.82149 10.1549 8.54167 10.5001 8.54167C10.8453 8.54167 11.1251 8.82149 11.1251 9.16667L11.1251 14.1667C11.1251 14.5118 10.8453 14.7917 10.5001 14.7917Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.442 12.1086C13.1979 12.3527 12.8022 12.3527 12.5581 12.1086L10.5001 10.0506L8.44202 12.1086C8.19795 12.3527 7.80222 12.3527 7.55814 12.1086C7.31406 11.8645 7.31406 11.4688 7.55814 11.2247L10.0581 8.72472C10.3022 8.48065 10.6979 8.48065 10.942 8.72472L13.442 11.2247C13.6861 11.4688 13.6861 11.8645 13.442 12.1086Z" fill="white"/>
                                    </svg>Thêm mới 
                        <div class="form-group">
                            <label for="avatar">Chọn avatar mới:</label>
                            <input type="file" name="avatar" id="avatar">
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" name="update_avatar">Cập nhật avatar</button>
                            <button type="submit" name="delete_avatar">Xóa avatar</button>
                        </div>