extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-thank-you"

block container
                            
    //- Successful Registration
    section.bm-thank-you
        .container 
            .bm-thank-you__inner
                .bm-thank-you__image 
                    img.lazy(data-src="./images/thank-you.svg" alt="404")

                h1.bm-thank-you-title Cám ơn bạn đã để lại thông tin !

                .bm-thank-you__desc 
                    p Chúng tôi sẽ liên hệ với bạn sớm nhất
                
                .bm-thank-you__cta 
                    a(href="#") Quay lại trang chủ
                
                    
                
                
                

                