#php_flag display_errors off
RewriteEngine On
# Xác định thư mục
RewriteBase /trac-nghiem-demo
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Không cho xem list file
Options -Indexes 
RewriteRule ^dang-nhap$ login.php [L]
RewriteRule ^trang-chu$ index.php [L]
RewriteRule ^bm-admin$ admin/index.php [L]
RewriteRule ^bm-login$ admin/login.php [L]
#RewriteRule ^danh-sach-de-thi$ student/exams.php [L]
#RewriteRule ^xem-ket-qua-thi$ student/list-results.php [L]

ErrorDocument 404 /trac-nghiem-demo/404.php
ErrorDocument 403 /trac-nghiem-demo/404.php
ErrorDocument 500 /trac-nghiem-demo/404.php
