// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Breakpoint
$breakpoints: (xs: 0,
        ssm: 360px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 2000px,
    ) !default;

// Typography
$font-family-primary: 'SVN-Gilroy', Arial, Helvetica, sans-serif !default;
$font-family-secondary: 'Space Grotesk', Arial, Helvetica, sans-serif !default;

// Colors
// Colors
$gray: #C4C4C4 !default;
$gray-2: #E1E1E1 !default;
$gray-3: #EDEDEE !default;
$gray-4: #F8F9FC !default;
$gray-5: #E9E9E9 !default;

$white: #ffffff !default;

$black: #000000 !default;
$black-1: #212121 !default;

$blue: #040F49 !default;
$red: #C33130 !default;
$red-2: #ff4e4d !default;

$color-040F49: #040F49 !default;
$color-A7A7A7: #A7A7A7 !default;
$color-B42928: #B42928 !default;
$color-FBF5E7: #FBF5E7 !default;
$color-005180: #005180;

$body-color: $black-1 !default;
$placeholder-color: $black-1 !default;

// Forms
$input-font-size: 14px !default;
$input-color: $black !default;
$input-background-color: transparent !default;
$input-placeholder-color: $black !default;
$input-height: 3.5rem !default;
$input-border-radius: 10px !default;
$input-border-color: $black !default;
$input-border-width: thin !default;
$input-padding-y: 1rem !default;
$input-padding-x: 1.25rem !default;
$textarea-height: 150px !default;

$label-font-size: 16px !default;
$label-color: $black-1 !default;
$label-spacing: .5rem !default;
$label-font-weight: 500 !default;

$form-row-spacing: 16px !default;
$form-col-spacing: 20px !default;

$custom-control-size: 14px !default;
$custom-control-dot-size: 8px !default;
$custom-control-gap: 10px !default;
$custom-control-font-size: 14px !default;
$custom-control-font-weight: normal !default;
$custom-control-line-height: 1.4 !default;
$custom-control-border-color: $body-color !default;
$custom-control-border-color-active: $body-color !default;
$custom-control-top: 2px !default;

$select-background-color: transparent !default;
$select-option-padding-y: 8px !default;
$select-option-padding-x: 16px !default;
$select-option-font-size: 14px !default;
$select-option-background-color: $white !default;
$select-option-background-color-hover: $gray !default;
$select-arrow-width: 11px !default;
$select-arrow-spacing: 16px !default;
$select-arrow-icon: "data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5.5L10 1' stroke='%23FBF5E7'/%3E%3C/svg%3E%0A" !default;
$select-dropdown-offset: 0;

$validate-message-color: $red-2 !default;
$validate-message-font-size: 10px !default;
$validate-message-spacing: 6px !default;

// Form float label
$form-float: false !default;
$form-float-label-font-size: 0.625rem !default;
$form-float-input-padding-top: 0.5rem !default;

// Button
$button-color: $white !default;
$button-background-color: $red;
$button-background-color-hover: $white;
$button-disabled-background-color: $gray;
$button-disabled-background-color-hover: $gray;
$button-border-radius: .5rem !default;

$button-font-size: 1rem !default;
$button-font-weight: 500 !default;
$button-line-height: 1.5 !default;

$button-primary-color: $white !default;
$button-primary-border-color: $red !default;
$button-primary-background-color: $red !default;
$button-primary-color-hover: $white;
$button-primary-background-color-hover: $color-B42928;
$button-primary-border-color-hover: $color-B42928 !default;

$button-secondary-color: $white !default;
$button-secondary-border-color: $red !default;
$button-secondary-background-color: $red !default;
$button-secondary-color-hover: $red !default;
$button-secondary-background-color-hover: $white !default;
$button-secondary-border-color-hover: $red !default;

$button-outline-color: $red !default;
$button-outline-border-color: $red !default;
$button-outline-background-color: transparent !default;
$button-outline-color-hover: $white !default;
$button-outline-background-color-hover: $color-B42928 !default;
$button-outline-border-color-hover: $color-B42928 !default;

//Link
$link-color: $black-1 !default;
$link-color-hover: $red !default;
$link-disabled-color: $gray;
$link-disabled-color-hover: $gray;