/*---------------------------------
**** Global | Layout
-----------------------------------*/
:root {
    --safe-area-bottom: calc(100vh - 100 * var(--vh));
}

* {
    &:focus {
        outline: none;
    }
}

html {
    #wpadminbar {
        @include breakpoint-down(782px) {
            margin-top: -46px;
        }
    }
}

body {
    font-family: $font-family-primary;
    color: $body-color;
    position: relative;

    &.is-lock {
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

.bm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include ie11 {
        display: block;
    }
}

.bm-content {
    z-index: 1;
    flex: 1 1 auto;
    position: relative;
}

.bm-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 50;
}

/*---------------------------------
**** Global | Link
-----------------------------------*/
.container {
    @include breakpoint-up(xxl) {
        max-width: 1320px;
    }
}

/*---------------------------------
**** Global | Link
-----------------------------------*/
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
        text-decoration: none;
    }

    &.bm-cta {
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
        position: relative;
        padding-right: 35px;
        font-family: $font-family-secondary;

        &:after {
            content: '';
            position: absolute;
            top: 9px;
            right: 0;
            width: 23px;
            height: 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 23 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5625 7.49999C0.5625 7.29279 0.64481 7.09408 0.791322 6.94756C0.937835 6.80105 1.13655 6.71874 1.34375 6.71874L19.7703 6.71874L14.8531 1.80311C14.7064 1.65642 14.624 1.45745 14.624 1.24999C14.624 1.04253 14.7064 0.843562 14.8531 0.696864C14.9998 0.550166 15.1988 0.467753 15.4062 0.467753C15.6137 0.467753 15.8127 0.550166 15.9594 0.696864L22.2094 6.94686C22.2821 7.01944 22.3399 7.10565 22.3792 7.20056C22.4186 7.29548 22.4389 7.39723 22.4389 7.49999C22.4389 7.60275 22.4186 7.7045 22.3792 7.79942C22.3399 7.89433 22.2821 7.98054 22.2094 8.05311L15.9594 14.3031C15.8127 14.4498 15.6137 14.5322 15.4062 14.5322C15.1988 14.5322 14.9998 14.4498 14.8531 14.3031C14.7064 14.1564 14.624 13.9575 14.624 13.75C14.624 13.5425 14.7064 13.3436 14.8531 13.1969L19.7703 8.28124L1.34375 8.28124C1.13655 8.28124 0.937835 8.19893 0.791323 8.05242C0.64481 7.9059 0.5625 7.70719 0.5625 7.49999Z' fill='%231F186B'/%3E%3C/svg%3E%0A");
        }
    }
}


/*---------------------------------
**** Global | Heading
-----------------------------------*/
h1,
.h1 {
    font-size: 32px;
    font-weight: 700;
}

h2,
.h2 {
    font-weight: 600;
    font-size: 26px;
}

h3,
.h3 {
    font-weight: 600;
    font-size: 24px;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 22px;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 20px;
}

h6,
.h6 {
    font-weight: 600;
    font-size: 18px;
}

/*---------------------------------
**** Global | Media
-----------------------------------*/
img {
    max-width: 100%;

    &.lazy {
        visibility: hidden;

        &.loaded {
            visibility: visible;
        }
    }
}

.bm-img-drop,
.bm-img-drop-contain {
    display: block;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.bm-img-drop {
    img {
        object-fit: cover;
    }
}

.bm-img-drop-contain {
    img {
        object-fit: contain;
    }
}

.custom-object-fit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    > img {
        display: none !important;
    }
}

/*---------------------------------
**** Global | Forms
-----------------------------------*/
input,
textarea {
    font-size: 16px;
}

textarea {
    resize: none;
}

.required {
    color: $red;
}

input[type="search"] {

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

/*---------------------------------
**** Text Selection Color
-----------------------------------*/
::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

/*---------------------------------
**** Placeholder
-----------------------------------*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder-color;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $placeholder-color;
}

/*---------------------------------
**** Scrollbar
-----------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $red;
}


/*---------------------------------
**** Pagination
-----------------------------------*/
.bm-pagination {
    ul.page-numbers {
        @include reset-list;
        display: flex;
        justify-content: center;
    }

    li {
        & + li {
            margin-left: 1rem;
        }

        .page-numbers {
            background: transparent;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            line-height: 20px;
            color: $black-1;
            font-weight: 600;
            border-radius: 4px;
            border: 1px solid $white;

            @include breakpoint-up(sm) {
                width: 48px;
                height: 48px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.current {
                color: $white;
                background: $red;
            }

            &.next {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66667 3.33366L10.3333 8.00033L5.66667 12.667' stroke='%233D3F47' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;

                svg[role="img"] {
                    display: none;
                }
            }

            &.prev {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3333 12.6667L5.66666 8.00001L10.3333 3.33334' stroke='%233D3F47' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;

                svg[role="img"] {
                    display: none;
                }
            }
        }

        a {
            &:hover {
                color: $white;
                background: $red;

                &.next {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66667 3.33366L10.3333 8.00033L5.66667 12.667' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                }

                &.prev {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3333 12.6667L5.66666 8.00001L10.3333 3.33334' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                }
            }
        }
    }
}

.rt {
    &-button {
        &__link {
            a {
                display: flex;
                font-size: 1rem;
                overflow: hidden;
                text-align: center;
                position: relative;
                border-radius: 2rem;
                padding: 0.875rem 2rem;
                justify-content: center;
                border: 1px solid $white;
                line-height: 1.625rem;
                transition: border-color .35s cubic-bezier(.1, .05, 0, 1), background 1s cubic-bezier(.1, .05, 0, 1);

                &::after {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                    content: "";
                    position: absolute;
                    border-radius: 200%;
                    transform: translate3d(0, 150%, 0) scale(1.5);
                    transition: transform .35s cubic-bezier(.23, 1, .32, 1);
                }

                span {
                    z-index: 1;
                    position: relative;
                }

                &:hover {
                    background: $red;
                    border-color: $red;

                    &::after {
                        background: $red;
                        transform: translateZ(0) scale(1.5);
                    }
                }
            }
        }

        &__hamburger {
            overflow: hidden;
            background: none;
            padding: 0.813rem;
            position: relative;
            border-radius: 2rem;
            border: 1px solid $white;
            z-index: 9999;

            svg {
                z-index: 1;
                position: relative;
            }

            &:not(.is-active) {
                transition: border-color .35s cubic-bezier(.1, .05, 0, 1), background 1s cubic-bezier(.1, .05, 0, 1);

                &::after {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                    content: "";
                    position: absolute;
                    border-radius: 200%;
                    transform: translate3d(0, 150%, 0) scale(1.5);
                    transition: transform .35s cubic-bezier(.23, 1, .32, 1);
                }

                &:hover {
                    background: $red;
                    border-color: $red;

                    &::after {
                        background: $red;
                        transform: translateZ(0) scale(1.5);
                    }
                }
            }
        }
    }

    &-block {
        &__editor {
            font-size: 1rem;
            font-family: $font-family-secondary;

            @include breakpoint-up(xl) {
                font-size: 1.125rem;
            }

            &--container {
                position: relative;
            }

            p {
                margin-bottom: 1.25rem;
                line-height: calc(28 / 18);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h2 {
                font-weight: 700;
                line-height: calc(28 / 18);
            }

            ul {
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__image {
            position: relative;

            &--container {
                overflow: hidden;
                position: relative;
                border-radius: 0.25rem;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba($black-1, 0.3);
                    z-index: 1;
                }
            }
        }

        &__button {
            position: relative;

            &--container {
                align-items: center;
                display: inline-flex;
                vertical-align: middle;

                a {
                    color: $white;
                    display: flex;
                    overflow: hidden;
                    text-align: center;
                    position: relative;
                    border-radius: 2rem;
                    background: $red;
                    padding: 0.875rem 2.75rem;
                    justify-content: center;
                    border: 1px solid $red;
                    font-family: $font-family-secondary;
                    transition: border-color .35s cubic-bezier(.1, .05, 0, 1), background 1s cubic-bezier(.1, .05, 0, 1);
                    font-size: 1rem;
                    line-height: 1.5;

                    @include breakpoint-up(md) {
                        font-size: 1.125rem;
                        line-height: calc(26 / 18);
                    }

                    span {
                        z-index: 1;
                        position: relative;
                    }

                    &.arrow-down-circle {
                        gap: 1rem;
                        padding: 0.75rem 1.5rem;

                        @include breakpoint-up(xl) {
                            padding: 13px 43px;
                        }

                        &::after {
                            width: 1.5rem;
                            height: 1.5rem;
                            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2ZM15.53 13.53L12.53 16.53C12.461 16.599 12.3781 16.6539 12.2871 16.6919C12.1961 16.7299 12.098 16.75 12 16.75C11.902 16.75 11.8049 16.7299 11.7129 16.6919C11.6209 16.6539 11.539 16.599 11.47 16.53L8.46997 13.53C8.17697 13.237 8.17697 12.762 8.46997 12.469C8.76297 12.176 9.23801 12.176 9.53101 12.469L11.251 14.189V8C11.251 7.586 11.587 7.25 12.001 7.25C12.415 7.25 12.751 7.586 12.751 8V14.189L14.4709 12.469C14.7639 12.176 15.239 12.176 15.532 12.469C15.825 12.762 15.823 13.237 15.53 13.53Z' fill='white'/%3E%3C/svg%3E");
                        }
                    }
                }
            }
        }

        &__heading {
            &--container {
                position: relative;
            }
        }
    }

    &-element {
        &-title {
            margin: 0;
            color: $white;
            font-weight: 700;
            font-family: $font-family-primary;
            font-size: 2rem;
            transition: all .8s ease;

            @include breakpoint-up(sm) {
                font-size: 3rem;
                line-height: 1.3;
            }

            @include breakpoint-up(md) {
                font-size: 4rem;
                line-height: 1.3;
            }

            @include breakpoint-up(lg) {
                font-size: 5rem;
                line-height: 1.3;
            }

            @include breakpoint-up(xl) {
                font-size: 6rem;
                line-height: 1.3;
            }

            @include breakpoint-up(xxl) {
                font-size: 7.875rem;
                line-height: calc(160 / 126);
            }
        }
    }
}

/*---------------------------------
**** Title
-----------------------------------*/

.isa-title {
    font-family: $font-family-secondary;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: calc(40/30);

    @include breakpoint-up(sm) {
        font-size: 1.75rem;
    }

    @include breakpoint-up(lg) {
        font-size: 2rem;
    }

    &__medium {
        font-size: 1.375rem;
        line-height: calc(54/48);

        @include breakpoint-up(sm) {
            font-size: 1.75rem;
        }

        @include breakpoint-up(md) {
            font-size: 2.5rem;
        }

        @include breakpoint-up(lg) {
            font-size: 3rem;
        }
    }

    &__large {
        font-size: 1.5rem;
        line-height: calc(80/64);

        @include breakpoint-up(400px) {
            font-size: 1.75rem;
        }

        @include breakpoint-up(sm) {
            font-size: 2rem;
        }

        @include breakpoint-up(md) {
            font-size: 3rem;
        }

        @include breakpoint-up(lg) {
            font-size: 4rem;
        }
    }
}