/*---------------------------------
**** Global | Layout
-----------------------------------*/
:root {
    --safe-area-bottom: calc(100vh - 100 * var(--vh));
}

* {
    &:focus {
        outline: none;
    }
}

html {
    #wpadminbar {
        @include breakpoint-down(782px) {
            margin-top: -46px;
        }
    }
}

body {
    font-family: $font-family-primary;
    color: $body-color;
    position: relative;

    &.is-lock {
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
        height: 100%;
        width: 100%;
        position: fixed;
    }

    &:not(.is-transparent) {
        .bm-content {
            padding-top: var(--mh);
        }
    }

    &.is-transparent {
       

        .bm-take-exam {
            &__answer {
                top: calc(var(--mh) + 16px);
            }

            .student-info {
                top: calc(var(--mh) + 16px);
            }
        }
    }
}

.bm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include ie11 {
        display: block;
    }
}

.bm-content {
    z-index: 1;
    flex: 1 1 auto;
    position: relative;
}

.bm-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 50;
}

/*---------------------------------
**** Global | Link
-----------------------------------*/
.container {
    @include breakpoint-up(xxl) {
        max-width: 1320px;
    }
}

/*---------------------------------
**** Global | Link
-----------------------------------*/
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
        text-decoration: none;
    }

    &.bm-cta {
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
        position: relative;
        padding-right: 35px;
        font-family: $font-family-secondary;

        &:after {
            content: '';
            position: absolute;
            top: 9px;
            right: 0;
            width: 23px;
            height: 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 23 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5625 7.49999C0.5625 7.29279 0.64481 7.09408 0.791322 6.94756C0.937835 6.80105 1.13655 6.71874 1.34375 6.71874L19.7703 6.71874L14.8531 1.80311C14.7064 1.65642 14.624 1.45745 14.624 1.24999C14.624 1.04253 14.7064 0.843562 14.8531 0.696864C14.9998 0.550166 15.1988 0.467753 15.4062 0.467753C15.6137 0.467753 15.8127 0.550166 15.9594 0.696864L22.2094 6.94686C22.2821 7.01944 22.3399 7.10565 22.3792 7.20056C22.4186 7.29548 22.4389 7.39723 22.4389 7.49999C22.4389 7.60275 22.4186 7.7045 22.3792 7.79942C22.3399 7.89433 22.2821 7.98054 22.2094 8.05311L15.9594 14.3031C15.8127 14.4498 15.6137 14.5322 15.4062 14.5322C15.1988 14.5322 14.9998 14.4498 14.8531 14.3031C14.7064 14.1564 14.624 13.9575 14.624 13.75C14.624 13.5425 14.7064 13.3436 14.8531 13.1969L19.7703 8.28124L1.34375 8.28124C1.13655 8.28124 0.937835 8.19893 0.791323 8.05242C0.64481 7.9059 0.5625 7.70719 0.5625 7.49999Z' fill='%231F186B'/%3E%3C/svg%3E%0A");
        }
    }
}


/*---------------------------------
**** Global | Heading
-----------------------------------*/
h1,
.h1 {
    font-size: 32px;
    font-weight: 700;
}

h2,
.h2 {
    font-weight: 600;
    font-size: 26px;
}

h3,
.h3 {
    font-weight: 600;
    font-size: 24px;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 22px;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 20px;
}

h6,
.h6 {
    font-weight: 600;
    font-size: 18px;
}

/*---------------------------------
**** Global | Media
-----------------------------------*/
img {
    max-width: 100%;

    &.lazy {
        visibility: hidden;

        &.loaded {
            visibility: visible;
        }
    }
}

.bm-img-drop,
.bm-img-drop-contain {
    display: block;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.bm-img-drop {
    img {
        object-fit: cover;
    }
}

.bm-img-drop-contain {
    img {
        object-fit: contain;
    }
}

.custom-object-fit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    > img {
        display: none !important;
    }
}

/*---------------------------------
**** Global | Forms
-----------------------------------*/
input,
textarea {
    font-size: 16px;
}

textarea {
    resize: none;
}

.required {
    color: $red;
}

input[type="search"] {

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}

/*---------------------------------
**** Text Selection Color
-----------------------------------*/
::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

/*---------------------------------
**** Placeholder
-----------------------------------*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder-color;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $placeholder-color;
}

/*---------------------------------
**** Scrollbar
-----------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $red;
}


/*---------------------------------
**** Pagination
-----------------------------------*/
.bm-pagination {
    ul.page-numbers {
        @include reset-list;
        display: flex;
        justify-content: center;
    }

    li {
        & + li {
            margin-left: 1rem;
        }

        .page-numbers {
            background: transparent;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            line-height: 20px;
            color: $black-1;
            font-weight: 600;
            border-radius: 4px;
            border: 1px solid $white;

            @include breakpoint-up(sm) {
                width: 48px;
                height: 48px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.current {
                color: $white;
                background: $red;
            }

            &.next {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66667 3.33366L10.3333 8.00033L5.66667 12.667' stroke='%233D3F47' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;

                svg[role="img"] {
                    display: none;
                }
            }

            &.prev {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3333 12.6667L5.66666 8.00001L10.3333 3.33334' stroke='%233D3F47' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50% 50%;

                svg[role="img"] {
                    display: none;
                }
            }
        }

        a {
            &:hover {
                color: $white;
                background: $red;

                &.next {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66667 3.33366L10.3333 8.00033L5.66667 12.667' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                }

                &.prev {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3333 12.6667L5.66666 8.00001L10.3333 3.33334' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                }
            }
        }
    }
}

/*---------------------------------
**** Title
-----------------------------------*/

.isa-title {
    font-family: $font-family-secondary;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: calc(40/30);

    @include breakpoint-up(sm) {
        font-size: 1.75rem;
    }

    @include breakpoint-up(lg) {
        font-size: 2rem;
    }

    &__medium {
        font-size: 1.375rem;
        line-height: calc(54/48);

        @include breakpoint-up(sm) {
            font-size: 1.75rem;
        }

        @include breakpoint-up(md) {
            font-size: 2.5rem;
        }

        @include breakpoint-up(lg) {
            font-size: 3rem;
        }
    }

    &__large {
        font-size: 1.5rem;
        line-height: calc(80/64);

        @include breakpoint-up(400px) {
            font-size: 1.75rem;
        }

        @include breakpoint-up(sm) {
            font-size: 2rem;
        }

        @include breakpoint-up(md) {
            font-size: 3rem;
        }

        @include breakpoint-up(lg) {
            font-size: 4rem;
        }
    }
}

/*---------------------------------
**** Toast
-----------------------------------*/

#bm-toast {
    position: fixed;
    z-index: 999999;
}

.bm-toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 16px;
    min-width: 360px;
    max-width: 400px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
    border-radius: 10px;
    gap: 10px;
    margin: 8px;

    &__icon {
        flex-shrink: 0;
    }
    
    &__body {
        flex-grow: 1;
    }
    
    &__title {
        font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #333;
        margin: 0;
    }
    
    &__close {
        flex-shrink: 0;
        cursor: pointer;
        display: none; /* Ẩn đi theo mặc định */
    }

    &--success {
        background: #E7F7EF;

        .bm-toast__title {
            color: #27A376;
        }
    }

    &--error {
        background: #FFEDEC;

        .bm-toast__title {
            color: #E03137;
        }
    }

    &--info {
        background: #3292ff;

        .bm-toast__title {
            color: #2f35eb;
        }
    }

    &--warning {
        background: #FFF6D3;

        .bm-toast__title {
            color: #E6BB20;
        }
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/*---------------------------------
**** Custom Select
-----------------------------------*/

.custom-select {
    position: relative;
    width: 250px;
    display: inline-block;

    /* Add a bit of style for the down arrow when the options are active */
    &.active .select-style:after {
        color: #fff;
    }

    select {
        display: none;
    }

    /* Style the custom select box */
    .select-style {
        position: relative;
        padding: .75rem 1rem;
        padding-right: 2rem;
        background-color: transparent;
        border: 1px solid rgba(32, 92, 212, 0.2);
        border-radius: 10px;
        font-weight: 500;
        color: #000000;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;

        /* Add a bit of style when hovering over the select box */
        &:hover {
            background-color: #f2f6ff;
            color: #000000;
        }

        /* Add a bit of style for the down arrow */
        &:after {
            content: "";
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.4107 6.91075C4.73614 6.58531 5.26378 6.58531 5.58921 6.91075L9.99996 11.3215L14.4107 6.91075C14.7361 6.58531 15.2638 6.58531 15.5892 6.91075C15.9147 7.23619 15.9147 7.76382 15.5892 8.08926L10.5892 13.0893C10.2638 13.4147 9.73614 13.4147 9.4107 13.0893L4.4107 8.08926C4.08527 7.76382 4.08527 7.23619 4.4107 6.91075Z' fill='%23111827'/%3E%3C/svg%3E%0A");
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: #555;
            transition: all 0.2s ease;
        }

        &.show {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }

        }
    }
}

.custom-select-container {
    position: absolute;
    top: 108%;
    left: 0;
    right: 0;
    border: 1px solid rgba(#205CD4, .2);
    border-radius: 8px;
    background-color: #ffffff;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;

    /* Style the options container */
    .options {
        max-height: 300px;
        overflow-y: auto;
        list-style: none;
        margin: 0;
        padding: .75rem .5rem;

        /* Style the individual options */
        li {
            padding: .75rem 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 14px;

            /* Style for the selected option */
            &.active {
                background-color: #e0e0e0;
            }

            /* Highlight option when hovering over it */
            &:hover {
                background-color: #5897fb;
                color: #ffffff;
            }
        }
    }

    &__search {
        padding: 0.75rem;
        background: #f2f6ff;

        input.tax-search {
            font-size: 14px;
            line-height: 1.5;
            background: #E9EEF0;
            border: 1px solid #C5CBD5;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
            background-repeat: no-repeat;
            background-position: 15px 10px;
            background-size: 20px 20px;
            border-radius: 100px;
            padding: .5rem 1rem .5rem 3rem;
            width: 100%;
            box-sizing: border-box;

            &:focus {
                outline: none;
                background-color: #FFF;
                border: 1px solid #84A2FA;
            }
        }
    }
}

/*---------------------------------
**** Star Rating
-----------------------------------*/

.rt-star-rating {
    display: block;
    overflow: hidden;
    position: relative;
    height: 1rem;
    line-height: 1;
    font-size: 16px;
    width: 7.3rem;
    font-family: star;
    letter-spacing: .5rem;

    &::before {
        content: "\73\73\73\73\73";
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        color: #43A047;
    }

    span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;

        &::before {
            content: "\53\53\53\53\53";
            top: 0;
            position: absolute;
            left: 0;
            color: #43A047;
        }
    }
}

.rt-stars {
    span {
        gap: 0 .5rem;
        display: flex;
    }

    a {
        position: relative;
        height: 1.25rem;
        width: 1.25rem;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
        color: #43A047;

        &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1;
            font-family: "WooCommerce";
            content: "\e021";
            text-indent: 0;
            font-size: 20px;
        }

        &:hover ~ a::before {
            content: "\e021";
        }
    }

    &:hover a::before {
        content: "\e020";
    }

    &.selected {
        a.active {
            &::before {
                content: "\e020";
            }

            ~ a::before {
                content: "\e021";
            }
        }

        a:not(.active)::before {
            content: "\e020";
        }
    }
}