header.bm-header
    .bm-header__wrap
        .bm-header__brand
            a(href='#')
                img(src="./images/Logo_TDMU_2024_nguyen_ban.svg" alt="")
        .bm-header__right
            .bm-header__take-exam-time
                span Thời gian làm bài
                #timer.time-to-do 30:00
                    .avatar-container
                        .avatar-container__image(onclick='toggleDropdown()')
                            img.avatar(src='/images/default-avatar.png' alt='Avatar')
                        #dropdownMenu.dropdown-menu
                            a(href='#') Đổi mật khẩu
                            a(href='#') Đổi avatar