header.bm-header
    .bm-header__wrap 
        .container
            .bm-header__mobile
                a(href="./index.html" class="brand-logo d-lg-none")
                    img.is-color(src="./images/Logo_TDMU_2024_nguyen_ban.svg" alt="")
                    img.is-white(src="./images/Logo_TDMU_2024_nguyen_ban_Trang.svg", alt="")
                .group-cta.is-mobile
                    .bm-header__language
                        .dropdown
                            button.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                img.lazy(data-src="./images/language-vi.png" alt="")
                            ul.dropdown-menu
                                li.lang-item-vi
                                    a(href="#") VI

                    .bm-header-toggler
                        .bm-header-toggler__icon
                            span
                
            .bm-header__desktop
                .container
                    .bm-header__desktop--wrap
                        a(href="./index.html" class="brand-logo d-none d-lg-block")
                            img.is-color(src="./images/Logo_TDMU_2024_nguyen_ban.svg" alt="")
                            img.is-white(src="./images/Logo_TDMU_2024_nguyen_ban_Trang.svg", alt="")
                        .nav-menu
                            ul 
                                li 
                                    a(href="#gioi-thieu") Giới thiệu
                                li 
                                    a(href="#bang-xep-hang") Bảng xếp hạng
                                li 
                                    a(href="#binh-chon") Bình chọn
                                li 
                                    a(href="#gallery") Thư viện hình ảnh
                                li 
                                    a(href="#news") Tin tức
                        .bm-header__language
                            .dropdown
                                button.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    img.lazy(data-src="./images/language-vi.png" alt="")
                                ul.dropdown-menu
                                    li.lang-item-vi
                                        a(href="#") VI