extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-styleguide"

block scripts_demo
    script.
        var swiper = new Swiper(".bm-demo-slider", {
            navigation: {
                nextEl: ".bm-swiper-button__next",
                prevEl: ".bm-swiper-button__prev",
            },
            pagination: {
                el: '.slider-pagination', 
            }
        });

block container
    .bm-styleguide
        .container
            //- Slider
            section
                -
                    demoSlider = [
                        "https://images.unsplash.com/photo-1485546784815-e380f3297414?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80",
                        "https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                    ]
                .bm-demo-slider.swiper
                    .swiper-wrapper
                        each val in demoSlider
                            .swiper-slide
                                img(src= val alt="")
                    .swiper-pagination.slider-pagination
                    .bm-swiper-button.bm-swiper-button__next
                    .bm-swiper-button.bm-swiper-button__prev
                        
            //- Heading
            section
                h1.heading-primary 	h1. BM heading
                h2.heading-primary 	h2. BM heading
                h3.heading-primary 	h3. BM heading
                h4.heading-primary 	h4. BM heading
                h5.heading-primary 	h5. BM heading
                h6.heading-primary 	h6. BM heading
            
            //- Buttons
            section
                button.bm-btn.bm-btn-primary Button primary
                button.bm-btn.bm-btn-outline-primary Button outline primary
                button.bm-btn.bm-btn-primary.is-loading Button primary
                button.bm-btn.bm-btn-primary(disabled) Button disabled
                button.bm-btn.bm-btn-link Button link
                button.bm-btn.bm-btn-link(disabled) Button link disabled
                a(href="#" class="bm-link") link
            
            //- Toast
            section
                .toast-success(onclick="showSuccessToast()") Hiển thị thông báo thành công
                .toast-error(onclick="showErrorToast()") Hiển thị thông báo thất bại
            
            //- Custom Select
            section
                form(action="" method="post")
                    .custom-select.select-filter-time
                        select(class="select-time")
                            option(value="thoi-gian") Thời gian
                            option(value="7-ngay-truoc") 7 Ngày trước
                            option(value="1-thang-truoc") 1 tháng trước
                            option(value="3-thang-truoc") 3 tháng trước
                            option(value="6-thang-truoc") 6 tháng tráng
                            option(value="1-nam-truoc") 1 năm trước
                        .select-style 
                            span Thời gian
                       

                    .custom-select.select-filter-status
                        select(class="select-status")
                            option(value="trang-thai") Trạng thái
                            option(value="da-lien-he") Đã liên hệ
                            option(value="chua-lien-he") Chưa liên hệ
                            option(value="chua-nghe-may") Chưa nghe máy
                        .select-style 
                            span Trạng thái
                        
            //- WPForms
            section
                h2 WPForms Forms
                .wpforms-container.wpforms-container-full
                    form(action="./styleguide.html" class="wpforms-validate wpforms-form wpforms-ajax-form")
                        .wpforms-field-container
                            +wpf-input("wpf-input-1", "Input label", "Input place holder", "Validation message")
                            +wpf-textarea("Text area", "Type your message here", "Validation message")
                            +wpf-select("Select box", "Option 1", "Option 2", "Option 3")
                            +wpf-checkbox("wpf-checkbox", "Check box", "Validation message", "Item 1", "Item 2")
                            +wpf-radio("wpf-radio", "Radio", "Validation message", "Item 1", "Item 2")
                        .wpforms-submit-container
                            button(type="submit" class="wpforms-submit" data-alt-text="Sending..." data-submit-text="Submit") Gửi thông tin
            
            //- Forms
            section
                h2 Form
                form(action="./styleguide.html")
                    +bm-input("text", "v-input-1", "Input label", "Input place holder", "Validation message")
                    +bm-input("text", "v-input-2", "Input disabled", "Input disabled")(disabled)
                    +bm-textarea("Text area", "Text area place holder")
                    .bm-form-group.clear_label
                        .bm-form-label Check box
                        +bm-checkbox("v-checkbox-1", "Check box 1")

                    .bm-form-group.remember-me
                        +bm-checkbox("remember-me", "Nhớ tài khoản")
                        
                    .bm-form-group.clear_label
                        .bm-form-label Radio
                        +bm-radio("v-radio", "v-radio-1", "Radio 1")
                        +bm-radio("v-radio", "v-radio-2", "Radio 2")

                    .bm-form-group.clear_label
                        .bm-form-label Switcher
                        label.bm-custom-switcher
                            input(type="checkbox")
                            span.bm-custom-switcher__slider
                            span.bm-custom-switcher__label Custom switcher
                            
                    .bm-form-group.is-rating.clear_label
                        label(for="rating-1").bm-form-label Chương trình giảng dạy*
                        .bm-form-group__inner
                            select(select name="rating-1" id="rating-1" required)
                                option(value="") Select rating
                                option(value="5") Perfect
                                option(value="4") Good
                                option(value="3") Average
                                option(value="2") Not that bad
                                option(value="1") Very poor

                    .bm-form-group.is-rating.clear_label
                        label(for="rating-1").bm-form-label Cơ sở vật chất*
                        .bm-form-group__inner
                            select(select name="rating-1" id="rating-1" required)
                                option(value="") Select rating
                                option(value="5") Perfect
                                option(value="4") Good
                                option(value="3") Average
                                option(value="2") Not that bad
                                option(value="1") Very poor
            
            //- Star view
            section
                h2 Star view
                .bm-star-rating(role="img" aria-label="Rated 5.00 out of 5")
                    span(style="width: 50%") Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">4.9</span> (26 Reviews)
            
            //- DropzoneJS
            section.bm-dropzonejs-demo 
                .bm-dropzonejs-demo__head
                    h2.bm-dropzonejs-demo__title Demo DropzoneJS
                .bm-dropzonejs-demo__gallery
                    form(class="dropzone dash-gallery" id="demo-upload" action="/upload")
                        .dz-message
                            img(src="./images/uploading-icon.svg", alt="")
                            h2 Drag & Drop here to upload
                            p Or select file from your computer
                            .dash-gallery__cta 
                                a(href="#" class="bm-btn bm-btn-primary") 
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1667 1.875C12.5119 1.875 12.7917 2.15482 12.7917 2.5V5.83333C12.7917 5.88859 12.8137 5.94158 12.8528 5.98065C12.8918 6.01972 12.9448 6.04167 13.0001 6.04167H16.3334C16.6786 6.04167 16.9584 6.32149 16.9584 6.66667C16.9584 7.01184 16.6786 7.29167 16.3334 7.29167H13.0001C12.6133 7.29167 12.2424 7.13802 11.9689 6.86453C11.6954 6.59104 11.5417 6.22011 11.5417 5.83333V2.5C11.5417 2.15482 11.8216 1.875 12.1667 1.875Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.33341 3.125C6.05715 3.125 5.7922 3.23475 5.59685 3.4301C5.40149 3.62545 5.29175 3.8904 5.29175 4.16667V15.8333C5.29175 16.1096 5.40149 16.3746 5.59685 16.5699C5.7922 16.7653 6.05715 16.875 6.33341 16.875H14.6667C14.943 16.875 15.208 16.7653 15.4033 16.5699C15.5987 16.3746 15.7084 16.1096 15.7084 15.8333V6.92555L11.9079 3.125H6.33341ZM4.71296 2.54621C5.14273 2.11644 5.72563 1.875 6.33341 1.875H12.1667C12.3325 1.875 12.4915 1.94085 12.6087 2.05806L16.7754 6.22472C16.8926 6.34193 16.9584 6.50091 16.9584 6.66667V15.8333C16.9584 16.4411 16.717 17.024 16.2872 17.4538C15.8574 17.8836 15.2745 18.125 14.6667 18.125H6.33341C5.72563 18.125 5.14273 17.8836 4.71296 17.4538C4.28319 17.024 4.04175 16.4411 4.04175 15.8333V4.16667C4.04175 3.55888 4.28319 2.97598 4.71296 2.54621Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5001 14.7917C10.1549 14.7917 9.87508 14.5118 9.87508 14.1667L9.87508 9.16667C9.87508 8.82149 10.1549 8.54167 10.5001 8.54167C10.8453 8.54167 11.1251 8.82149 11.1251 9.16667L11.1251 14.1667C11.1251 14.5118 10.8453 14.7917 10.5001 14.7917Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.442 12.1086C13.1979 12.3527 12.8022 12.3527 12.5581 12.1086L10.5001 10.0506L8.44202 12.1086C8.19795 12.3527 7.80222 12.3527 7.55814 12.1086C7.31406 11.8645 7.31406 11.4688 7.55814 11.2247L10.0581 8.72472C10.3022 8.48065 10.6979 8.48065 10.942 8.72472L13.442 11.2247C13.6861 11.4688 13.6861 11.8645 13.442 12.1086Z" fill="white"/>
                                    </svg>Thêm mới 
            
            section.bm-chart-demo
                h2.bm-title Demo ChartJS 
                .chart-request
                    .chart-container
                        canvas(id="doughnutChart" data-total="Yêu cầu" data-quantity="Số lượng")
                            
                    #my-legend-request.legend-request
            
            section.bm-tinymce-demo 
                h2.bm-title Demo TinyMCE
                .bm-tinymce-demo__editor
                    textarea(id="mytextarea-1" class="tinymce-editor d-none")
                        p 
                            img(src="./images/uploading-icon.svg", alt="Intro")
                        p Tập trung vào các môn học cốt lõi của chương trình giáo dục Mỹ, được giảng dạy bằng tiếng Anh, và kết hợp giữa các môn học năng khiếu theo chương trình Mỹ với chương trình giảng dạy bằng tiếng Việt của Bộ Giáo dục & Đào tạo Việt Nam. Sau năm lớp 8, học sinh có thể chọn tiếp tục học song ngữ và nhận bằng tốt nghiệp của Bộ Giáo dục & Đào tạo Việt Nam và tham gia các kỳ thi đánh giá năng lực như IELTS, SAT, ACT. Hoặc học sinh có thể chọn chuyển sang học lộ trình Tú tài Mỹ để nhận bằng Tú tài Trung học Greenville (Bang Pennsylvania, Mỹ).
                        p Hệ Quốc tế Mỹ tập trung vào các môn học cốt lõi và các môn năng khiếu được giảng dạy bằng tiếng Anh, được cấp phép bởi Sở giáo dục GreenVille, bang Pennsylvania. Học sinh tại PennSchool đạt điều kiện của Bộ giáo dục Bang Pennsylvania sẽ được cấp bằng tốt nghiệp chính thức từ Trường trung học công lập Greenville, Bang Pennsylvania, bằng cấp được công nhận tại tất cả các trường ở Mỹ, Úc, Canada và các trường giảng dạy bằng tiếng Anh khác trên toàn thế giới.
            
            section.rt-table-admin.manage-request
                .rt-table-manage
                    .rt-table-manage__head 
                        .rt-table-manage__head--title Quản lý yêu cầu
                        .rt-table-manage__head--filter 
                            form(action="" method="post")
                                .custom-select.select-filter-time
                                    select(class="select-time")
                                        option(value="thoi-gian") Thời gian
                                        option(value="7-ngay-truoc") 7 Ngày trước
                                        option(value="1-thang-truoc") 1 tháng trước
                                        option(value="3-thang-truoc") 3 tháng trước
                                        option(value="6-thang-truoc") 6 tháng tráng
                                        option(value="1-nam-truoc") 1 năm trước
                                    .select-style 
                                        span Thời gian

                    .rt-table-manage__body
                        .rt-table-responsive
                            table.table.request-management
                                thead.table-custom-style
                                    
                                    tr
                                        th(id="full_name") Tên Phụ huynh
                                        th(id="phone") Số điện thoại
                                        th(id="date") Thời gian
                                        th(id="status") Trạng thái                                
                                        th(id="action") Action                             
                                tbody
                                    -
                                        requests_content = [
                                            {
                                                name : 'Jennifer Law',
                                                phone : '099 999 9999'
                                            },
                                            {
                                                name : 'Nguyen Pham Binh',
                                                phone: '096 345 2461'
                                            },
                                            {
                                                name : 'Bui Minh Hieu',
                                                phone : '099 923 9129'
                                            },
                                            {
                                                name : 'Le Van Cui',
                                                phone : '032 923 9129'
                                            },
                                            {
                                                name : 'Cam Ba Mao',
                                                phone : '096 923 9129'
                                            },
                                            {
                                                name : 'Jennifer Law',
                                                phone : '099 999 9999'
                                            },
                                            {
                                                name : 'Nguyen Pham Binh',
                                                phone: '096 345 2461'
                                            },
                                            {
                                                name : 'Bui Minh Hieu',
                                                phone : '099 923 9129'
                                            },
                                            {
                                                name : 'Le Van Cui',
                                                phone : '032 923 9129'
                                            },
                                            {
                                                name : 'Cam Ba Mao',
                                                phone : '096 923 9129'
                                            },
                                            {
                                                name : 'Jennifer Law',
                                                phone : '099 999 9999'
                                            },
                                            {
                                                name : 'Nguyen Pham Binh',
                                                phone: '096 345 2461'
                                            },
                                            {
                                                name : 'Bui Minh Hieu',
                                                phone : '099 923 9129'
                                            },
                                            {
                                                name : 'Le Van Cui',
                                                phone : '032 923 9129'
                                            },
                                            {
                                                name : 'Cam Ba Mao',
                                                phone : '096 923 9129'
                                            },
                                            
                                        ]
                                    each item, key in requests_content
                                        tr.row-item
                                            td(class="column-full_name") #{item.name}
                                            td(class="column-phone") #{item.phone}
                                            td(class="column-date") 24/07/2024
                                            td(class="column-status") 
                                                form(action="" method="post" class="status")
                                                    .custom-select(class="select-status-edit")
                                                        select(class="select-status-table")
                                                            option(value="chua-lien-he" data-class="status-0") Chưa liên hệ
                                                            option(value="chua-nghe-may" data-class="status-1") Chưa nghe máy
                                                            option(value="da-lien-he" data-class="status-2" selected="selected") Đã liên hệ
                                                                
                                                        .select-style 
                                                            span Chưa liên hệ
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.4107 6.91073C4.73614 6.5853 5.26378 6.5853 5.58921 6.91073L9.99996 11.3215L14.4107 6.91073C14.7361 6.5853 15.2638 6.5853 15.5892 6.91073C15.9147 7.23617 15.9147 7.76381 15.5892 8.08925L10.5892 13.0892C10.2638 13.4147 9.73614 13.4147 9.4107 13.0892L4.4107 8.08925C4.08527 7.76381 4.08527 7.23617 4.4107 6.91073Z" fill="#0CAF60"/>
                                                            </svg>
                                            
                                            td(class="column-action") 
                                                button.btn-action-view.d-action
                                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="40" height="40" rx="8" fill="#27A376"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 17.6418C18.6952 17.6418 17.6417 18.6953 17.6417 20.0001C17.6417 21.3049 18.6952 22.3584 20 22.3584C21.3048 22.3584 22.3583 21.3049 22.3583 20.0001C22.3583 18.6953 21.3048 17.6418 20 17.6418ZM16.3917 20.0001C16.3917 18.0049 18.0048 16.3918 20 16.3918C21.9952 16.3918 23.6083 18.0049 23.6083 20.0001C23.6083 21.9953 21.9952 23.6084 20 23.6084C18.0048 23.6084 16.3917 21.9953 16.3917 20.0001Z" fill="white"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8812 17.4976C13.8737 14.3656 16.7933 12.4751 20 12.4751C23.2068 12.4751 26.1266 14.3658 28.119 17.498C28.5732 18.2099 28.7792 19.1219 28.7792 19.9959C28.7792 20.87 28.5732 21.7819 28.119 22.4939C26.1266 25.6261 23.2068 27.5168 20 27.5168C16.7932 27.5168 13.8734 25.6261 11.881 22.4939C11.4268 21.7819 11.2208 20.87 11.2208 19.9959C11.2208 19.1217 11.4269 18.2096 11.8812 17.4976ZM20 13.7251C17.3234 13.7251 14.7599 15.3011 12.9357 18.1689L12.9352 18.1697C12.6397 18.6326 12.4708 19.2953 12.4708 19.9959C12.4708 20.6966 12.6397 21.3592 12.9352 21.8222L12.9357 21.823C14.7599 24.6908 17.3234 26.2668 20 26.2668C22.6765 26.2668 25.2401 24.6908 27.0643 21.823L27.0648 21.8222C27.3603 21.3592 27.5292 20.6966 27.5292 19.9959C27.5292 19.2953 27.3603 18.6326 27.0648 18.1697L27.0643 18.1689C25.2401 15.3011 22.6765 13.7251 20 13.7251Z" fill="white"/>
                                                    </svg> 

                                            td(class="toggle-btn" onclick="toggleRow(this)") 
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C7 6.44772 7.44772 6 8 6H20C20.5523 6 21 6.44772 21 7C21 7.55228 20.5523 8 20 8H8C7.44772 8 7 7.55228 7 7Z" fill="#111827"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12Z" fill="#111827"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 17C7 16.4477 7.44772 16 8 16H20C20.5523 16 21 16.4477 21 17C21 17.5523 20.5523 18 20 18H8C7.44772 18 7 17.5523 7 17Z" fill="#111827"/>
                                                <path d="M5 7C5 7.55228 4.55228 8 4 8C3.44772 8 3 7.55228 3 7C3 6.44772 3.44772 6 4 6C4.55228 6 5 6.44772 5 7Z" fill="#111827"/>
                                                <path d="M5 12C5 12.5523 4.55228 13 4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11C4.55228 11 5 11.4477 5 12Z" fill="#111827"/>
                                                <path d="M5 17C5 17.5523 4.55228 18 4 18C3.44772 18 3 17.5523 3 17C3 16.4477 3.44772 16 4 16C4.55228 16 5 16.4477 5 17Z" fill="#111827"/>
                                                </svg>
                                    
                    .rt-table-manage__footer 
                        include ../../components/Pagination/pagination
                        .rt-show-entries
                            .rt-show-entries__text Showing 1 to 5 of 50 entries
                            form(action="" method="post")
                                .custom-select
                                    select(class="select-show-entries")
                                        option(value="show-5") Show 5
                                        option(value="show-50") Show 50                                        
                                    .select-style 
                                        span Show 5

        //- Demo Swiper and LightGalleryJS  
        section.bm-feeling-parent#feeling-parent
            .container 
                .bm-title Demo Swiper and LightGalleryJS
            .container.container-custom 
                .bm-feeling-parent__slider.swiper.swiper-container(data-duration="4")
                    .swiper-wrapper 
                        -
                            slider = [
                                {
                                    "title": "Phụ huynh học sinh Lê Dương Bảo Lâm - Lớp 6A Khóa 2023 - PennSchool"
                                },
                                {
                                    "title": "Phụ huynh học sinh HIEUTHUHAI - Lớp 8B Khóa 2021 - PennSchool"
                                },
                                {
                                    "title": "Phụ huynh học sinh Huỳnh Hiểu Minh - Lớp 10A Khóa 2022 - PennSchool"
                                },
                                {
                                    "title": "Phụ huynh học sinh Huỳnh Hiểu Minh - Lớp 10A Khóa 2022 - PennSchool"
                                },
                            ]
                        
                        each val, key in slider
                            .swiper-slide
                                .feeling-parent-slide.bm-light-gallery(data-sources=`[{ "src": "https://www.youtube.com/watch?v=Zv11L-ZfrSg",  "thumb" : "./images/house-system/intro-2.jpg", "subHtml" : "" }]`) 
                                    .feeling-parent-slide__image 
                                        img(src="./images/styleguide/feeling-parent-"+(key + 1)+".jpg", alt="")
                                    .feeling-parent-slide__info 
                                        .feeling-parent-slide__info--date 
                                            img(src="./images/styleguide/icon-clock.svg", alt="")
                                            span 13:30 13-01-2013
                                        .feeling-parent-slide__info--view
                                            img(src="./images/styleguide/icon-eye.svg", alt="")
                                            span 1.102
                                    .feeling-parent-slide__title #{val.title}
            .container 
                .bm-feeling-parent__navigation
                    .bm-feeling-parent__navigation--wrap
                        .button-prev 
                            .button-prev__inner
                                <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 26L2 14L14 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        .button-next
                            .button-prev__inner
                                <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 26L14 14L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
        //- Demo Grid CSS and LightGalleryJS  
        section.bm-our-campus#our-campus
            .container 
                .bm-our-campus__head 
                    .bm-title Demo Grid CSS and LightGalleryJS 
                .bm-our-campus__gallery.bm-light-gallery-list
                    div.bm-light-gallery-item 
                        img(src="./images/styleguide/campus-1.jpg", alt="")
                    div.bm-light-gallery-item  
                        img(src="./images/styleguide/campus-2.jpg", alt="")
                    div.bm-light-gallery-item  
                        img(src="./images/styleguide/campus-3.jpg", alt="")
                    div.bm-light-gallery-item 
                        img(src="./images/styleguide/campus-4.jpg", alt="")
                    div.bm-light-gallery-item(data-total = "+30")
                        img(src="./images/styleguide/campus-5.jpg", alt="")
                    div.bm-light-gallery-item.d-none
                        img(src="./images/styleguide/campus-6.jpg", alt="")
                .bm-our-campus__cta   
                    a(href="#contact" class="bm-btn bm-btn-primary js-anchor-scroll") 
                        span ĐẶT LỊCH THAM QUAN 
                        img.is-mobile(src="./images/styleguide/icon-btn-mobile.svg", alt="")
        
        