.bm-styleguide {
    padding: 50px 0;
    margin-top: var(--mh);

    section {
        margin-bottom: 40px;

        > h2 {
            margin-bottom: 10px;
        }

        .bm-btn {
            margin-right: 4px;
            margin-bottom: 8px;
        }
    }
}

.bm-demo-slider {
    @include reset-list;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.bm-banner-heading {
    font-weight: 600;
    ;
    font-size: 150px;
    font-family: $font-family-secondary;
    color: $white;
    background: $red;

    span {
        position: relative;
        display: inline-block;

        &:before {
            content: attr(data-content);
            position: absolute;
            color: $red;
            right: 0;
        }

        &:after {
            content: attr(data-content);
            position: absolute;
            right: 0;
            //color: $white;
            height: 60%;
            overflow: hidden;
        }
    }


}