.isa-archive-filter
    span Bộ lọc:
    .custom-select(id="select-position")
        select(id="select-1")
            option(value="option1") Mới nhất
            option(value="option2") Sự kiện sắp diễn ra
            
        .select-style Mới nhất
        ul(class="options")