extends ../../../admin/layouts/layout-admin-panel

append vars
    -bodyClass = "page-template-admin-panel-posts"
    -typeMenu = ""

block container
    .bm-admin-content
        div(class="bm-box-container__wrap-title")
            h1
                | All Posts
                a(href="#") Add New
        .clear(style="height: 10px;")
        .bm-admin-table
            table
                thead
                    tr
                        th Title
                        th.hide Author
                        th.hide Categories
                        th.hide Tags
                        th
                            i.fa-solid.fa-comment
                        th Date
                tbody
                    tr
                        td
                            a.title(href="#")
                                | Video title here
                            .magic-links
                                a(href="#") Edit
                                | |
                                a.trash(href="#") Trash
                                | |
                                a(href="#") View
                        td.hide
                            a(href="#") admin
                        td.hide
                            a(href="#") Videos
                        td.hide
                            a(href="#") youtube
                        td
                            | —
                        td
                            span.date 21 hours ago
                    tr
                        td
                            a.title(href="#")
                                | Video title here
                            .magic-links
                                a(href="#") Edit
                                | |
                                a.trash(href="#") Trash
                                | |
                                a(href="#") View
                        td.hide
                            a(href="#") admin
                        td.hide
                            a(href="#") Videos
                        td.hide
                            a(href="#") youtube
                        td
                            | —
                        td
                            span.date 21 hours ago
                    tr
                        td
                            a.title(href="#")
                                | Video title here
                            .magic-links
                                a(href="#") Edit
                                | |
                                a.trash(href="#") Trash
                                | |
                                a(href="#") View
                        td.hide
                            a(href="#") admin
                        td.hide
                            a(href="#") Videos
                        td.hide
                            a(href="#") youtube
                        td
                            | —
                        td
                            span.date 21 hours ago
        .bm-admin-pagination
            ul
                li
                    a(href="#") 1
                li
                    a(href="#") 2
                li.active
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") 5
                li
                    a(href="#") 6
