.bm-404 {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include breakpoint-up(lg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    &__inner {        
        text-align: center;
    }

    &__image {
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-up(lg) {
            margin-bottom: 2.25rem; 
        }

        @include breakpoint-up(sm) {
            max-width: 500px;
        }
    }

    .bm-title {
        color: $blue;
        margin-bottom: .75rem;
    }

    &__desc {
        margin-bottom: 1.875rem;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/18);

    }
}