extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-404"

block container

    section.bm-404
        .container 
            .bm-404__inner
                .bm-404__image 
                    img.lazy(data-src="./images/404/404.svg" alt="404")

                h1.bm-title.bm-title__small PAGE NOT FOUND!

                .bm-404__desc We’re sorry, the page you requestedcould not be found. Please go back to the homepage! 
                
                .bm-404__cta 
                    a(href="#" class="bm-btn bm-btn-primary") HOME PAGE
                
                    
                
                
                

                