.bm-archive-sidebar  
    ul.tree 
        li.caret
            a(href="javascript:void(0)" class="link-parent") 
                img(src="./images/blog/globe.png", alt="") 
                span Kinh nghiệm
            ul.nested 
                li 
                    a(href="#") Du học Mỹ
                li 
                    a(href="#") Du học Canada
                li 
                    a(href="#") Du học Úc
                li 
                    a(href="#") Du học Anh
                li 
                    a(href="#") Du học Đức

        li.caret.current-menu-parent
            a(href="javascript:void(0)" class="link-parent") 
                img(src="./images/blog/news-event.png", alt="") 
                span HỌC BỔNG MỚI NHẤT
            ul.nested.active
                li 
                    a(href="#") Tin tức
                li.is-active 
                    a(href="#") Sự kiện - Webinar
        li.caret 
            a(href="javascript:void(0)" class="link-parent") 
                img(src="./images/blog/chatbox-user.png", alt="")  
                span CẢM NHẬN HỌC VIÊN
            ul.nested 
                li 
                    a(href="#") Tài liệu - eBooks
        li.caret 
            a(href="javascript:void(0)" class="link-parent") 
                img(src="./images/blog/ebook.png", alt="")  
                span TIN TỨC &amp; SỰ KIỆN
            ul.nested 
                li 
                    a(href="#") Tài liệu - eBooks