extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-login"
    -typeMenu = ""

block container
    section.bm-sign-in
        .container
            .bm-sign-in__wrap
                .bm-sign-in__content
                    .bm-sign-in__content--image
                        img(src="./images/signin-image.jpg" alt="sign up image")
                        a(href="#" class="forgot-password") Quên mật khẩu
                    .bm-sign-in__content--form
                        h2.form-title Đăng nhập
                        form(method="POST")
                            .bm-form-group.bm-form-group--error
                                label(class="bm-form-label" for="your_name")
                                    i(class="fa-solid fa-user") 
                                    | Tên đăng nhập
                                input(class="bm-form-control" type="text" name="your_name" id="your_name" placeholder="Nhập tên đăng nhập của bạn" value="")
                                span(class="invalid-message") Sai tài khoản
                            .bm-form-group.input-password
                                label(class="bm-form-label" for="your_pass")
                                    i(class="fa-solid fa-lock") 
                                    | Mật khẩu
                                .input-password__wrap
                                    input(class="bm-form-control" type="password" name="your_pass" id="your_pass" placeholder="Nhập Mật khẩu" value="")
                                    i(class="fa fa-eye togglePassword")
                            .bm-form-group.remember-me
                                +bm-checkbox("remember-me", "Nhớ tài khoản")
                            .bm-form-group.submit-button
                                button(type="submit" name="signin" id="signin" class="form-submit" value="Đăng nhập") Đăng nhập

                        .social-login
                            span.social-login__label 
                                span Hoặc đăng nhập bằng
                            .social-login__wrap
                                a(href='#')
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.6261 11.2139C20.6261 10.4225 20.5605 9.84497 20.4187 9.24609H11.1975V12.818H16.6102C16.5011 13.7057 15.9118 15.0425 14.6022 15.9408L14.5839 16.0603L17.4995 18.2738L17.7015 18.2936C19.5566 16.6145 20.6261 14.1441 20.6261 11.2139Z" fill="#205CD4"></path>
                                        <path d="M11.1969 20.625C13.8486 20.625 16.0748 19.7694 17.7008 18.2936L14.6016 15.9408C13.7723 16.5076 12.6592 16.9033 11.1969 16.9033C8.5997 16.9033 6.39536 15.2243 5.60957 12.9036L5.4944 12.9131L2.46274 15.2125L2.4231 15.3205C4.03815 18.4647 7.35561 20.625 11.1969 20.625Z" fill="#34A853"></path>
                                        <path d="M5.61006 12.9036C5.40272 12.3047 5.28273 11.663 5.28273 11C5.28273 10.3369 5.40272 9.69524 5.59915 9.09636L5.59366 8.96881L2.524 6.63257L2.42357 6.67938C1.75792 7.98412 1.37598 9.44929 1.37598 11C1.37598 12.5507 1.75792 14.0158 2.42357 15.3205L5.61006 12.9036Z" fill="#FBBC05"></path>
                                        <path d="M11.1969 5.09664C13.0412 5.09664 14.2852 5.87733 14.9945 6.52974L17.7664 3.8775C16.064 2.32681 13.8487 1.375 11.1969 1.375C7.35564 1.375 4.03816 3.53526 2.4231 6.6794L5.59868 9.09638C6.39538 6.77569 8.59974 5.09664 11.1969 5.09664Z" fill="#EB4335"></path>
                                    </svg> Google
                                    
                                a(href='#')
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.9999 21.5416C16.8219 21.5416 21.5416 16.8219 21.5416 10.9999C21.5416 5.17792 16.8219 0.458252 10.9999 0.458252C5.17792 0.458252 0.458252 5.17792 0.458252 10.9999C0.458252 16.8219 5.17792 21.5416 10.9999 21.5416Z" fill="#205CD4"></path>
                                        <path d="M15.1034 14.0469L15.5709 10.9999H12.6472V9.02268C12.6472 8.18897 13.0556 7.37634 14.365 7.37634H15.6942V4.78218C14.9138 4.65588 14.1252 4.58695 13.3347 4.57593C10.9266 4.57593 9.35269 6.03526 9.35269 8.67755V10.9999H6.67603V14.0469H9.35269V21.4133C10.4442 21.5844 11.5557 21.5844 12.6472 21.4133V14.0469H15.1034Z" fill="white"></path>
                                    </svg> Facebook
