//- <svg style="width: 0px; height: 0px;">
//-     <defs>
//-         <pattern id="pattern-line-dotted" x="0" y="12" width="1" height="18" patternUnits="userSpaceOnUse" viewBox="0 0 1 18">
//-             <rect x="0" y="0" width="1" height="10" fill="black" stroke="none" stroke-width="0"></rect>
//-         </pattern>
//-         <symbol id="roll-x" viewBox="0 0 17 20" fill="none">
//-             <path d="M2.7445 19.288L3.1285 19.264C3.2245 19.264 3.4405 18.88 3.8965 18.064L4.1365 17.632C4.2565 17.44 4.8325 16.624 5.9365 15.232L7.0645 13.792C8.5285 16 9.5125 17.368 10.0405 17.92C10.3045 18.016 10.4725 18.088 10.5925 18.088H10.6645C10.7605 18.088 10.8325 18.04 10.8565 17.968C10.8805 17.896 10.9285 17.728 10.9765 17.512L11.0485 17.344C11.0725 17.296 11.1445 17.272 11.2165 17.272C11.3605 17.272 11.5045 17.32 11.5765 17.392C11.6725 17.488 11.7445 17.512 11.8405 17.512C12.0085 17.512 12.1285 17.44 12.2005 17.248C12.2485 17.08 12.3445 17.008 12.4885 17.008H12.6085C12.6565 17.008 12.7285 16.984 12.8245 16.936L12.9205 16.864L12.7285 16.192L13.4485 16.144C13.6885 16.144 14.1685 15.136 14.1685 14.752C14.1685 14.608 14.0005 14.344 13.6885 14.008C13.3765 13.672 12.2725 12.232 10.3765 9.712C11.8405 7.96 12.9925 6.736 13.7365 5.992L16.3765 3.424L16.1845 3.136C16.3765 3.016 16.4725 2.872 16.4725 2.632L16.4245 2.224L16.1845 2.176L16.2805 1.792H16.1605C16.0165 1.792 15.8965 1.816 15.8245 1.864C15.7525 1.912 15.6805 1.936 15.6085 1.936C15.4645 1.888 15.2725 1.384 15.2725 1.24L15.3205 0.975999L14.9845 0.784L14.9365 0.615999C14.9125 0.495999 14.7925 0.352 14.5285 0.183999L14.4565 0.159999L13.5925 0.831999C13.4005 1 13.1605 1.24 12.8485 1.576C12.5365 1.912 12.1765 2.272 11.7685 2.608C11.3365 2.968 10.1365 4.264 8.1205 6.496C7.3765 5.44 6.8725 4.648 6.5845 4.144C6.0325 3.184 4.8085 1.552 4.5205 1.264L4.4485 1.24C4.4005 1.24 4.3525 1.288 4.3045 1.36C4.2805 1.456 4.2325 1.528 4.1845 1.6L4.1125 1.648C4.0405 1.648 3.9445 1.576 3.8485 1.456C3.8005 1.792 3.7045 2.008 3.5605 2.08L3.4645 2.104C3.3685 2.104 3.2965 2.056 3.2005 2.008C3.0805 1.936 3.0085 1.888 2.9845 1.888C2.8885 1.888 2.5525 2.224 2.5045 2.392C2.4565 2.584 2.1205 2.848 1.9285 2.848C1.8805 2.848 1.8805 2.872 1.8805 2.92C1.8805 3.064 2.1205 4 2.2885 4.192L2.4085 4.336C3.2245 6.496 4.0405 8.416 4.8565 10.096C2.4565 12.664 1.0645 14.344 0.5845 15.376C0.7285 15.784 0.7765 16.072 0.7765 16.24C0.7285 16.456 0.6325 16.672 0.5365 16.864L0.8725 17.008C0.9205 17.008 1.0645 17.296 1.0645 17.488L1.0165 17.872C1.0165 17.92 1.0405 17.944 1.0645 17.968L1.2565 17.92L1.4005 17.872C1.4245 17.872 1.4485 17.896 1.4485 17.92L1.4005 18.232C1.4005 18.28 1.4245 18.328 1.4965 18.352C1.6165 18.352 1.7365 18.304 1.8325 18.232C1.9525 18.136 2.0485 18.112 2.1205 18.112C2.1685 18.112 2.1685 18.136 2.1685 18.208C2.1685 18.28 2.1445 18.424 2.0725 18.64L2.5045 19.216C2.5285 19.264 2.6245 19.288 2.7445 19.288Z" fill="currentColor"></path>
//-         </symbol>
//-     </defs>
//- </svg>
section.isa-featured-events 
    .container  
        h2.isa-title Sự kiện nổi bật
    .isa-featured-events__body
        .container 
            .isa-featured-events__list.swiper.swiper-container
                .swiper-wrapper 
                    -
                    
                        items = [
                            {
                                "img": "1",
                                "title": "11 Bí mật chiến lược trúng tuyển và săn học bổng đại học top đầu tại Mỹ Bí mật chiến lược trúng tuyển và săn học bổng đại học top đầu tại Mỹ",
                                "date": "04.07.2024"
                            },
                            {
                                "img": "2",
                                "title": "Bí mật chiến lược trúng tuyển và săn học bổng đại học top đầu tại Mỹ 2",
                                "date": "30.07.2024"
                            },
                            {
                                "img": "3",
                                "title": "Bí mật chiến lược trúng tuyển và săn học bổng đại học top đầu tại Mỹ 3",
                                "date": "04.08.2024"
                            },
                            {
                                "img": "2",
                                "title": "Bí mật chiến lược trúng tuyển và săn học bổng đại học top đầu tại Mỹ 4",
                                "date": "04.08.2024"
                            },
                            
                        ]
                    
                    each val, key in items
                        .swiper-slide
                            a(href="#" class="isa-featured-events__item")
                                .isa-featured-events__item--image
                                    .bm-img-drop
                                        img(src=`./images/styleguide/featured-events-${val.img}.jpg` alt="")
                                .isa-ticket
                                    .isa-ticket__inner
                                        .isa-ticket__inner--left 
                                            .upcoming Sắp diễn ra
                                            h3 #{val.title}
                                            //- <svg class="o-ticket_bg -part">
                                            //-     <rect width="100%" height="100%" fill="white" stroke="none" stroke-width="0" mask="url(#mask-l-jxdn_2024-09-12)"></rect>
                                            //-     <defs>
                                            //-         <mask id="mask-l-jxdn_2024-09-12" x="0" y="0" width="100%" height="100%">
                                            //-             <rect width="100%" height="100%" fill="white" stroke="none" stroke-width="0"></rect>
                                            //-             <circle cx="0" cy="50%" r="8" fill="black"></circle>
                                            //-         </mask>
                                            //-     </defs>
                                            //- </svg>
                                        .isa-ticket__inner--right
                                            .date #{val.date}
                                            .cta Xem chi tiết
                                            //- <svg class="o-ticket_bg -part">
                                            //-     <defs>
                                            //-         <mask id="mask-r-jxdn_2024-09-12" x="0" y="0" width="100%" height="100%">
                                            //-             <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
                                            //-             <rect x="0" y="0" width="1" height="100%" fill="url(#pattern-line-dotted)"></rect>
                                            //-             <circle cx="100%" cy="50%" r="8" fill="black"></circle>
                                            //-         </mask>
                                                    
                                            //-         <pattern id="pattern-line-dotted" x="0" y="12" width="1" height="18" patternUnits="userSpaceOnUse" viewBox="0 0 1 18">
                                            //-             <rect x="0" y="0" width="1" height="10" fill="black" stroke="none" stroke-width="0"></rect>
                                            //-         </pattern>                                                    
                                            //-     </defs>
                                            //-     <rect width="100%" height="100%" fill="white" stroke="none" stroke-width="0" mask="url(#mask-r-jxdn_2024-09-12)"></rect>
                                            //- </svg>
                                            
                                        <svg class="o-ticket_bg -full">
                                            <rect width="100%" height="100%" fill="white" stroke="none" stroke-width="0" mask="url(#mask-full-killer-mike_2024-08-29)"></rect>
                                            <defs>
                                                <mask id="mask-full-killer-mike_2024-08-29" x="0" y="0" width="100%" height="100%">
                                                    <rect width="100%" height="100%" fill="white" stroke="none" stroke-width="0"></rect>
                                                    <circle cx="0" cy="50%" r="8" fill="black"></circle>
                                                    <circle cx="100%" cy="50%" r="8" fill="black"></circle>
                                                </mask>
                                            </defs>
                                        </svg>
                                        
    .container                    
        .isa-featured-events__arrow 
                .isa-featured-events__arrow--prev
                    <svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4534 1.25559L10.0282 6.6993C8.47544 8.17965 7.25704 8.86237 5.69871 9.24177C4.86049 9.4458 4.19058 10.179 4.19138 11.1036C4.19225 12.1625 4.98683 13.0814 6.10554 13.0823C7.22425 13.0832 31.9579 13.1031 31.9579 13.1031C31.9803 13.1031 31.9985 13.121 31.9986 13.1431L32 14.8867C32 14.9088 31.9819 14.9266 31.9594 14.9266L6.10702 14.9058C3.83163 14.904 3.56584 18.2312 5.7168 18.7436C7.32689 19.1271 8.59797 19.8266 10.2499 21.4527L15.4776 26.7448C15.4929 26.7603 15.4929 26.7849 15.4777 26.8004L14.3047 27.988C14.2887 28.0041 14.2622 28.004 14.2463 27.9877L0.0113201 14.0433C-0.00375748 14.0278 -0.00375748 14.0033 0.0113201 13.9879L14.2218 0.0121844C14.2377 -0.00403897 14.2642 -0.00406558 14.2802 0.0121294L15.4534 1.19982C15.4688 1.21538 15.4687 1.24013 15.4534 1.25559Z" fill="#040F49"/>
                    </svg>

                .isa-featured-events__arrow--next
                    <svg width="32" height="28" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5466 1.25559L21.9718 6.6993C23.5246 8.17965 24.743 8.86237 26.3013 9.24177C27.1395 9.4458 27.8094 10.179 27.8086 11.1036C27.8078 12.1625 27.0132 13.0814 25.8945 13.0823C24.7758 13.0832 0.0420799 13.1031 0.0420799 13.1031C0.0196575 13.1031 0.00146602 13.121 0.00144823 13.1431L1.43348e-08 14.8867C-1.86249e-05 14.9088 0.0181423 14.9266 0.0405638 14.9266L25.893 14.9058C28.1684 14.904 28.4342 18.2312 26.2832 18.7436C24.6731 19.1271 23.402 19.8266 21.7501 21.4527L16.5224 26.7448C16.5071 26.7603 16.5071 26.7849 16.5223 26.8004L17.6953 27.988C17.7113 28.0041 17.7378 28.004 17.7537 27.9877L31.9887 14.0433C32.0038 14.0278 32.0038 14.0033 31.9887 13.9879L17.7782 0.0121844C17.7623 -0.00403897 17.7358 -0.00406558 17.7198 0.0121294L16.5466 1.19982C16.5312 1.21538 16.5313 1.24013 16.5466 1.25559Z" fill="#040F49"/>
                    </svg>
