footer.bm-footer
    .container
        .bm-footer__info
            .row 
                .col-lg-3
                    .bm-footer__about
                        .bm-footer-brand
                            a(href="#")
                                img(class="lazy" data-src="images/Logo_TDMU_2024_nguyen_ban_Trang.svg" alt="")
                               

                        .bm-footer-social.d-none.d-md-block
                            ul  
                                li 
                                    a(href="#")
                                        img(class="lazy" data-src="images/social/instagram.png" alt="")
                                li 
                                    a(href="#")
                                        img(class="lazy" data-src="images/social/facebook.png" alt="")
                                li 
                                    a(href="#")
                                        img(class="lazy" data-src="images/social/youtube.png" alt="")
                                li 
                                    a(href="#")
                                        img(class="lazy" data-src="images/social/linkedin.png" alt="")

                .col-md-7.col-lg-5.col-xxl-4
                    .bm-footer__info--item
                        .bm-footer__info--title THÔNG TIN LIÊN HỆ
                        .bm-footer__info--contact 
                            ul 
                                li 
                                    a(href="#")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.0833 7.91667C17.0833 12 10.4167 18.75 10.4167 18.75C10.4167 18.75 3.75 12 3.75 7.91667C3.75 3.66667 7.16667 1.25 10.4167 1.25C13.6667 1.25 17.0833 3.66667 17.0833 7.91667Z" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M10.4165 10.4165C11.7972 10.4165 12.9165 9.29722 12.9165 7.9165C12.9165 6.53579 11.7972 5.4165 10.4165 5.4165C9.03579 5.4165 7.9165 6.53579 7.9165 7.9165C7.9165 9.29722 9.03579 10.4165 10.4165 10.4165Z" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
                                        </svg>
                                        span Số 06, Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương
                                li 
                                    a(href="tel:0274-383-4512" target="_blank")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.1733 12.2403L11.3892 14.0003C10.4587 13.4393 9.59442 12.7754 8.81249 12.0211C8.05936 11.2379 7.39557 10.3734 6.83332 9.4436L8.59166 7.65943C8.69815 7.55129 8.77007 7.41391 8.79827 7.26478C8.82646 7.11564 8.80966 6.96149 8.74999 6.82193L6.91666 2.5486C6.84423 2.3801 6.71368 2.24323 6.54879 2.16292C6.38389 2.08262 6.19564 2.06423 6.01832 2.1111L2.65666 3.00027C2.48878 3.04379 2.34065 3.143 2.2365 3.28166C2.13234 3.42033 2.07834 3.59024 2.08332 3.7636C2.29722 7.67341 3.92287 11.3727 6.65832 14.1744C9.46055 16.9107 13.1609 18.5367 17.0717 18.7503C17.2452 18.7561 17.4155 18.7025 17.5544 18.5984C17.6934 18.4943 17.7927 18.3459 17.8358 18.1778L18.7242 14.8144C18.7713 14.6372 18.7531 14.449 18.6729 14.284C18.5927 14.1191 18.4559 13.9885 18.2875 13.9161L14.0133 12.0836C13.8736 12.0231 13.719 12.0056 13.5694 12.0336C13.4197 12.0615 13.2818 12.1334 13.1733 12.2403V12.2403Z" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
                                        </svg>
                                        span 0274-383-4512
                                li 
                                    a(href="mailto:info@duhocisa.edu.vn")
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_7052_3879)">
                                                <path d="M1.76172 3.38184L10.4167 11.2502L19.0709 3.38267" stroke="white" stroke-miterlimit="10"/>
                                                <path d="M17.9167 2.91675H2.91667C1.99619 2.91675 1.25 3.66294 1.25 4.58341V16.2501C1.25 17.1706 1.99619 17.9167 2.91667 17.9167H17.9167C18.8371 17.9167 19.5833 17.1706 19.5833 16.2501V4.58341C19.5833 3.66294 18.8371 2.91675 17.9167 2.91675Z" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_7052_3879">
                                                    <rect width="20" height="20" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        span info@tdmu.edu.vn
                        
                .col-md-5.col-lg-4.col-xxl-4
                    .bm-footer__info--item
                        .bm-footer__info--title THÔNG TIN
                        .bm-footer__info--nav 
                            ul 
                                li 
                                    a(href="#") Lịch công tác
                                li 
                                    a(href="#") Thông báo
                                li 
                                    a(href="#") Tin tức

        .bm-footer__copyright © 2024 Trường Đại học Thủ Dầu Một
        .bm-footer__author Make by Ba Mao

a(href="#" class="bm-scroll-to-top")
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.33301 15.0003V1.66699" stroke="white" stroke-miterlimit="10"/>
        <path d="M3.6665 6.33366L8.33317 1.66699L12.9998 6.33366" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
    </svg>
