footer.bm-footer
    .container      
        .bm-footer__copyright © 2024 indochina study abroad

a(href="#" class="bm-scroll-to-top")
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.33301 15.0003V1.66699" stroke="white" stroke-miterlimit="10"/>
        <path d="M3.6665 6.33366L8.33317 1.66699L12.9998 6.33366" stroke="white" stroke-miterlimit="10" stroke-linecap="square"/>
    </svg>
