@charset "UTF-8";
/*---------------------------------
**** Build CSS
chạy comment cd .\assets\css\
sass styles.scss styles.css --watch
-----------------------------------*/
@font-face {
  font-family: "lg";
  src: url("../fonts/lg.woff2?io9a6k") format("woff2"), url("../fonts/lg.ttf?io9a6k") format("truetype"), url("../fonts/lg.woff?io9a6k") format("woff"), url("../fonts/lg.svg?io9a6k#lg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: star;
  src: url("../fonts/star.eot");
  src: url("../fonts/star.eot?#iefix") format("embedded-opentype"), url("../fonts/star.woff") format("woff"), url("../fonts/star.ttf") format("truetype"), url("../fonts/star.svg#star") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: WooCommerce;
  src: url("../fonts/WooCommerce.eot");
  src: url("../fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("../fonts/WooCommerce.woff") format("woff"), url("../fonts/WooCommerce.ttf") format("truetype"), url("../fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlackItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlack.woff2") format("woff2"), url("../fonts/SVN-GilroyBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBold.woff2") format("woff2"), url("../fonts/SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy.woff2") format("woff2"), url("../fonts/SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavy.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/SVN-GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMedium.woff2") format("woff2"), url("../fonts/SVN-GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBold.woff2") format("woff2"), url("../fonts/SVN-GilroyXBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThin.woff2") format("woff2"), url("../fonts/SVN-GilroyThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLight.woff2") format("woff2"), url("../fonts/SVN-GilroyXLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThinItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBold.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Recoleta";
  src: url("../fonts/SVN-RecoletaBold.woff2") format("woff2"), url("../fonts/SVN-RecoletaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Recoleta";
  src: url("../fonts/SVN-Recoleta.woff2") format("woff2"), url("../fonts/SVN-Recoleta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --safe-area-bottom: calc(100vh - 100 * var(--vh));
  scroll-behavior: auto;
}

*:focus {
  outline: none;
}

body {
  font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
  color: #202121;
  position: relative;
}
body.is-lock {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  height: 100%;
  width: 100%;
  position: fixed;
}
body:not(.is-transparent) .tdmu-content {
  padding-top: var(--mh);
}

.tdmu-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 50;
}

/*---------------------------------
**** Global | Heading
-----------------------------------*/
h1,
.h1 {
  font-size: 32px;
  font-weight: 700;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 26px;
}

h3,
.h3 {
  font-weight: 700;
  font-size: 24px;
}

h4,
.h4 {
  font-weight: 700;
  font-size: 22px;
}

h5,
.h5 {
  font-weight: 700;
  font-size: 20px;
}

h6,
.h6 {
  font-weight: 700;
  font-size: 18px;
}

/*---------------------------------
**** Global | Media
-----------------------------------*/
img {
  max-width: 100%;
}
img.lazy {
  visibility: hidden;
}
img.lazy.loaded {
  visibility: visible;
}

.rt-img-drop,
.rt-img-drop-contain {
  display: block;
  position: relative;
  overflow: hidden;
}
.rt-img-drop img,
.rt-img-drop-contain img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.rt-img-drop img {
  object-fit: cover;
}

.rt-img-drop-contain img {
  object-fit: contain;
}

.custom-object-fit {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.custom-object-fit > img {
  display: none !important;
}

/*---------------------------------
**** Global | Forms
-----------------------------------*/
input,
textarea {
  font-size: 16px;
}

textarea {
  resize: none;
}

.required {
  color: #C6363B;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/*---------------------------------
**** Scrollbar
-----------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005180;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005180;
}

.tdmu-btn,
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: thin solid transparent;
  padding: 0.875rem 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  font-size: 16px;
  font-weight: 600;
  color: #005180;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
  text-decoration: none;
}
.tdmu-btn-primary,
.btn-primary {
  background-color: #005180;
  color: #FFFFFF;
}
.tdmu-btn-primary:hover,
.btn-primary:hover {
  border: 1px solid #005180;
  background-color: transparent;
  color: #005180;
}
.tdmu-btn-outline,
.btn-outline {
  border: 1px solid #005180;
  background-color: transparent;
  color: #005180;
}
.tdmu-btn-outline:hover,
.btn-outline:hover {
  background-color: #005180;
  color: #FFFFFF;
}

.tdmu-title {
  font-size: 24px;
}
@media (min-width: 992px) {
  .tdmu-title {
    font-size: 32px;
  }
}

body.scroll-down {
  padding-top: var(--mh);
}
body.scroll-down .tdmu-take-exam__answer {
  top: calc(var(--mh) + 16px);
}
body.scroll-down .tdmu-take-exam .student-info {
  top: calc(var(--mh) + 16px);
}

.tdmu-header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  transition: transform 0.5s, background-color 0.5s, position 0.5s;
  border-bottom: 1px solid rgba(32, 33, 33, 0.2);
  padding: 1rem 0.5rem;
}
.tdmu-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tdmu-header__brand {
  max-width: 155px;
}
.tdmu-header__brand img {
  width: 100%;
}
.tdmu-header__take-exam-time {
  font-weight: 700;
}
.tdmu-header__take-exam-time span {
  color: #005180;
}
.tdmu-header__take-exam-time .time-to-do {
  font-size: 24px;
}
@media (min-width: 992px) {
  .tdmu-header__take-exam-time .time-to-do {
    font-size: 32px;
  }
}

.tdmu-take-exam {
  padding-top: 2rem;
}
.tdmu-take-exam .tdmu-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #005180;
}
.tdmu-take-exam__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.tdmu-take-exam__answer {
  position: sticky;
  top: 0;
  transition: all 0.2s ease-out;
  max-width: 248px;
  overflow-y: auto;
  max-height: 800px;
  background: white;
  border: 2px solid #005180;
}
.tdmu-take-exam__answer .menu-link {
  display: block;
  padding-left: 15px;
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.tdmu-take-exam__answer .menu-link .tick {
  float: right;
  color: green;
  margin-right: 15px;
}
.tdmu-take-exam__answer .menu-link:hover {
  background-color: #005180;
  color: #FFFFFF;
}
.tdmu-take-exam__answer .menu-link:hover .tick {
  color: #FFFFFF;
}
.tdmu-take-exam__content #examForm > div:not(:first-child) {
  margin-top: 1rem;
}
.tdmu-take-exam__content #examForm > div input[type=radio] {
  font-weight: 500;
}
.tdmu-take-exam__content #examForm > div p {
  font-weight: 700;
  font-size: 16px;
}
.tdmu-take-exam__content #examForm input[type=submit] {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 24px;
  border: 1px solid #005180;
  background: #FFFFFF;
  font-weight: 500;
}
.tdmu-take-exam__content #examForm input[type=submit]:hover {
  background: #005180;
  color: #FFFFFF;
}
.tdmu-take-exam .student-info {
  border-radius: 24px;
  border: 2px solid #005180;
  padding: 1.5rem;
  display: inline-block;
  position: sticky;
  top: 0;
  transition: all 0.2s ease-out;
}

.login-wrap {
  padding: 60px 0;
}
@media (min-width: 768px) {
  .login-wrap {
    padding: 150px 0;
  }
}

.tdmu-sign-in__wrap {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 0 16.83px 0.17px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .tdmu-sign-in__wrap {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .tdmu-sign-in__wrap {
    max-width: 1200px;
  }
}
.tdmu-sign-in__content {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 768px) {
  .tdmu-sign-in__content {
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .tdmu-sign-in__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.tdmu-sign-in__content--image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
  width: 50%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .tdmu-sign-in__content--image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    width: auto;
  }
}
.tdmu-sign-in__content--image figure {
  margin-bottom: 50px;
  text-align: center;
  margin: 0;
}
.tdmu-sign-in__content--image figure img {
  max-width: 100%;
  height: auto;
}
.tdmu-sign-in__content--form {
  margin-right: 80px;
  margin-left: 20px;
  width: 50%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .tdmu-sign-in__content--form {
    order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
    width: auto;
  }
}
.tdmu-sign-in__content--form .form-title {
  margin-bottom: 33px;
}
.tdmu-sign-in__content--form h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}
.tdmu-sign-in__content--form .register-form {
  width: 100%;
}
.tdmu-sign-in__content--form .register-form .form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.tdmu-sign-in__content--form .register-form .form-group:last-child {
  margin-bottom: 0px;
}
.tdmu-sign-in__content--form .register-form .form-group.form-button {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .tdmu-sign-in__content--form .register-form .form-group.form-button {
    text-align: center;
  }
}
.tdmu-sign-in__content--form .register-form .form-group label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
}
.tdmu-sign-in__content--form .register-form .form-group label .material-icons-name {
  font-size: 18px;
}
.tdmu-sign-in__content--form .register-form .form-group label .zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  font-size: inherit;
  text-rendering: auto;
}
.tdmu-sign-in__content--form .register-form .form-group input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
.tdmu-sign-in__content--form .register-form .form-group input, .tdmu-sign-in__content--form .register-form .form-group select, .tdmu-sign-in__content--form .register-form .form-group textarea {
  outline: none;
  appearance: unset !important;
}
.tdmu-sign-in__content--form .register-form .form-group input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}
.tdmu-sign-in__content--form .register-form .form-group input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px;
}
.tdmu-sign-in__content--form .register-form .form-group .label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
}
.tdmu-sign-in__content--form .register-form .form-group input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  background: white;
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}
.tdmu-sign-in__content--form .register-form .form-group input[type=checkbox]:not(old):checked + label > span:before {
  content: "\f26b";
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: "Material-Design-Iconic-Font";
  font-weight: bold;
}
.tdmu-sign-in__content--form .register-form .form-group input[type=checkbox] {
  appearance: checkbox !important;
}
.tdmu-sign-in__content--form .register-form .form-group .form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.tdmu-sign-in__content--form .register-form .form-group #signin {
  margin-top: 16px;
}

.tdmu-404 {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .tdmu-404 {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .tdmu-404 .row {
    flex-direction: column-reverse;
  }
}
.tdmu-404 h1 {
  font-weight: 700;
  font-size: 48px;
  font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
  .tdmu-404 h1 {
    font-size: 64px;
  }
}
@media (min-width: 992px) {
  .tdmu-404 h1 {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  .tdmu-404 h1 {
    font-size: 140px;
  }
}
.tdmu-404 .tdmu-sub-title {
  font-weight: 500;
  font-size: 24px;
  font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .tdmu-404 .tdmu-sub-title {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .tdmu-404 .tdmu-sub-title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .tdmu-404 .tdmu-sub-title {
    font-size: 54px;
  }
}
.tdmu-404__image {
  width: 100%;
}
@media (max-width: 767px) {
  .tdmu-404__image {
    margin-bottom: 1.5rem;
  }
}
.tdmu-404__desc {
  margin-top: 8px;
  text-align: left;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
@media (min-width: 576px) {
  .tdmu-404__desc {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .tdmu-404__desc {
    max-width: 540px;
  }
}
.tdmu-home-page ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.tdmu-home-page li {
  padding-left: 2rem;
}
.tdmu-home-page li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.logout-btn {
  text-decoration: none;
  font-weight: 700;
}

.tdmu-results {
  padding-top: 2rem;
}
.tdmu-results ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.tdmu-results li {
  padding-left: 1.5rem;
}

.tdmu-list-results {
  padding-top: 2rem;
}

.tdmu-exams {
  padding-top: 2rem;
}

/*# sourceMappingURL=styles.css.map */
