/*---------------------------------
**** Build CSS
chạy comment cd .\assets\css\
sass styles.scss styles.css --watch
-----------------------------------*/

@import "_variables.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_global.scss";
@import "_button.scss";
@import "admin.scss";
@import "header.scss";
@import "sign-in.scss";

.tdmu-title {
    font-size: 24px;

    @include breakpoint-up(lg) {
        font-size: 32px;
    }
}

body {
    &.is-transparent.scroll-down {
        padding-top: var(--mh);

        .tdmu-take-exam {
            &__answer {
                top: calc(var(--mh) + 16px);
            }

            .student-info {
                top: calc(var(--mh) + 16px);
            }
        }
    }
}

.tdmu-take-exam {
    padding-top: 2rem;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .tdmu-title {
        text-align: center;
        margin-bottom: 1.5rem;
        color: $blue;
    }

    &__wrap {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 2fr 1fr;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;

        @include breakpoint-down(767px) {
            grid-template-columns: calc(30% - 1rem) calc(70% - 1rem);

            .tdmu-take-right {
                display: none;
            }
        }

        @include breakpoint-up(1600px) {
            grid-template-columns: 20% 60% 20%;
        }

        
    }

    &__answer {
        // margin-bottom: 0;
        position: sticky;
        top: 0;
        transition: all .2s ease-out;
        max-width: 248px;
        overflow-y: auto;
        max-height: 800px;
        background: white;
        border: 2px solid $blue;

        @include breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .menu-link {
            display: block;
            padding-left: 15px;
            padding-bottom: 3px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;

            .tick {
                float: right;
                color: green;
                margin-right: 15px;
            }

            &:hover {
                background-color: $blue;
                color: $white;

                .tick {
                    color: $white;
                }
            }

        }
    }

    &__content {
        #examForm {
            >div {
                &:not(:first-child) {
                    margin-top: 1rem;
                }

                input[type="radio"] {
                    font-weight: 500;
                }

                p {
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            input[type="submit"] {
                margin-top: 1.5rem;
                padding: .5rem 2rem;
                border-radius: 24px;
                border: 1px solid $blue;
                background: $white;
                font-weight: 500;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    .student-info {
        border-radius: 24px;
        border: 2px solid $blue;
        padding: 1.5rem;
        display: inline-block;
        position: sticky;
        top: 0;
        transition: all .2s ease-out;
    }
}

.tdmu-404 {
    padding-top: 3rem;
    padding-bottom: 4rem;

    @include breakpoint-up(md) {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .row {

        @include breakpoint-down(767px) {
            flex-direction: column-reverse;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 48px;
        font-family: $font-family-primary;

        @include breakpoint-up(md) {
            font-size: 64px;
        }

        @include breakpoint-up(lg) {
            font-size: 100px;
        }

        @include breakpoint-up(xl) {
            font-size: 140px;
        }
    }

    .tdmu-sub-title {
        font-weight: 500;
        font-size: 24px;
        font-family: $font-family-primary;
        line-height: 1.2;
        margin-bottom: 1rem;

        @include breakpoint-up(md) {
            font-size: 32px;
        }

        @include breakpoint-up(lg) {
            font-size: 40px;
        }

        @include breakpoint-up(xl) {
            font-size: 54px;
        }
    }


    &__image {
        width: 100%;

        @include breakpoint-down(767px) {
            margin-bottom: 1.5rem;
        }
    }

    &__desc {
        margin-top: 8px;

        text-align: left;
        margin-bottom: 1.5rem;
        font-weight: 400;

        @include breakpoint-up(sm) {
            font-size: 18px;
        }

        @include breakpoint-up(md) {
            max-width: 540px;
        }
    }

    &__cta {}
}

.tdmu-home-page {
    ul {
        @include reset-list;
    }

    li {
        padding-left: 2rem;

        a {
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.logout-btn {
    text-decoration: none;
    font-weight: 700;
}

.tdmu-results {
    padding-top: 2rem;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    ul {
        @include reset-list;
    }


    &__wrap {
        display: grid;
        grid-template-columns: calc(30% - 8px) calc(70% - 8px); /* Trừ đi một nửa khoảng cách gap cho mỗi cột */
        gap: 16px;
        width: 100%; /* Đảm bảo grid container không vượt quá chiều rộng của trang */
        box-sizing: border-box; /* Bao gồm padding và border trong chiều rộng và chiều cao của phần tử */
    }

    &__test-detail {
        margin-bottom: 1rem;
    }

    &__content {
        width: 100%;
        max-width: 800px;
    }

    &__info {
        margin-bottom: 1rem;

        &--title {
            margin-bottom: 1rem;
            background: $blue;
            color: $white;
            padding: 10px;
            font-size: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
        }

        &--total, &--correct, &--wrong, &--score{
            font-weight: 600;
            font-size: 16px;
    
            @include breakpoint-up(lg) {
                font-size: 18px;
            }
        }

        &--correct {
            color: green;
        }

        &--score {
            color: $blue;
        }

        &--wrong {
            color: red;
        }

        &--note {
            margin-top: 1rem;

            h3 {
                font-size: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
                background: $blue;
                color: $white;
                padding: 10px;
            }

            span {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 2px;
                display: inline-block;
            }

            p {
                font-weight: 500;
                margin-bottom: 2px;
                font-size: 14px;

                &:nth-child(3) {
                    strong {
                        color: green;
                    }
                }

                &:nth-child(4) {
                    strong {
                        color: blue;
                    }
                }

                &:nth-child(5) {
                    margin-bottom: 0;

                    strong {
                        color: red;
                    }
                }
            }
        }
    }
}

.tdmu-list-results {
    padding-top: 2rem;
}

.tdmu-exams {
    padding-top: 2rem;
}

.tdmu-upload_avatar, .tdmu-request-password-change, .tdmu-verify-otp {
    margin-top: 1.5rem;
    padding: 0 1rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.tdmu-request-password-change {
    
}

.tdmu-verify-otp, .tdmu-request-password-change {
    h2 {
        margin-bottom: 1.5rem;
    }
}