/*---------------------------------
**** Build CSS
chạy comment cd .\assets\css\
sass styles.scss styles.css --watch
-----------------------------------*/

@import "_variables.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_global.scss";

.tdmu-title {
    font-size: 24px;

    @include breakpoint-up(lg) {
        font-size: 32px; 
    }
}

body {
    &.scroll-down {
        padding-top: var(--mh);

        .tdmu-take-exam {
            &__answer {
                top: calc(var(--mh) + 16px);
            }

            .student-info {
                top: calc(var(--mh) + 16px);
            }
        }
    }
}

.tdmu-header {
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20; 
    transition: transform .5s, background-color .5s, position .5s;
    border-bottom: 1px solid rgba($black-1, .2);
    padding: 1rem .5rem;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        max-width: 155px;

        img {
            width: 100%;   
        }
    }

    &__take-exam-time {
        font-weight: 700;

        span {
            color: $blue;
        }

        .time-to-do {
            
            font-size: 24px;

            @include breakpoint-up(lg) {
                font-size: 32px;
            }
        }
    }
}

.tdmu-take-exam {
    .tdmu-title {
        text-align: center;
        margin-bottom: 1.5rem;
        color: $blue;
    }

    &__wrap {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-columns: 30% 50% 20%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
    }

    &__answer {
        // margin-bottom: 0;
        position: sticky;
        top: 0;
        transition: all .2s ease-out;
        max-width: 248px;
        overflow-y: auto;
        max-height: 800px;
        background: white;
        border: 2px solid $blue;
        
        .menu-link {
            display: block;
            padding-left: 15px;
            padding-bottom: 3px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;

            .tick {
                float: right;
                color: green;
                margin-right: 15px;
            }

            &:hover {
                background-color: $blue;
                color: $white;

                .tick {
                    color: $white;
                }
            }

        }        
    }

    &__content {
        #examForm {
            > div {
                &:not(:first-child) {
                    margin-top: 1rem;
                }

                input[type="radio"] {
                    font-weight: 500;
                }

                p {
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            input[type="submit"] {
                margin-top: 1.5rem;
                padding: .5rem 2rem;
                border-radius: 24px;
                border: 1px solid $blue;
                background: $white;
                font-weight: 500;
                
                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    .student-info {
        border-radius: 24px;
        border: 2px solid $blue;
        padding: 1.5rem;
        display: inline-block;
        position: sticky;
        top: 0;
        transition: all .2s ease-out;       
    }
}

.login-wrap {
    // background: $grey;
    padding: 60px 0;

    @include breakpoint-up(md) {
        padding: 150px 0;
    }
}

.tdmu-sign-in {
    &__wrap {
        width: 900px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0px 0 16.83px 0.17px rgba(0, 0, 0, 0.08);
        border-radius: 20px;

        @include breakpoint-down(1200px) {
            width: calc( 100% - 30px);
            max-width: 100%;
        }

        @include breakpoint-up(1024px) {
            max-width: 1200px;
        }
    }

    &__content {
        display: flex;
        padding-top: 67px;
        padding-bottom: 87px;

        @include breakpoint-down(768px) {
            justify-content: center;
            flex-direction: column;
        }

        &--image {
            margin-left: 110px;
            margin-right: 20px;
            margin-top: 10px;
            width: 50%;
            overflow: hidden;
    
            @include breakpoint-down(768px) {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 50px;
                order: 2;
                width: auto;
            }
    
            figure {
                margin-bottom: 50px;
                text-align: center;
                margin: 0;
    
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        &--form {
            margin-right: 80px;
            margin-left: 20px;
            width: 50%;
            overflow: hidden;
    
            @include breakpoint-down(768px) {
                order: 1;
                margin-right: 0px;
                margin-left: 0px;
                padding: 0 30px;
                width: auto;
            }
    
            .form-title {
                margin-bottom: 33px;
            }
            
            h2 {
                line-height: 1.66;
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: #222;
                font-family: Poppins;
                font-size: 36px;
            }
    
            .register-form {
                width: 100%;
    
                .form-group {
                    position: relative;
                    margin-bottom: 25px;
                    overflow: hidden;
    
                    &:last-child {
                        margin-bottom: 0px;
                    }
    
                    &.form-button {
                        margin-bottom: 1rem;
                        
                        @include breakpoint-down(768px) {
                            text-align: center;
                        }
        
                    }
    
                    label {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #222;
    
                        .material-icons-name {
                            font-size: 18px;
                        }
    
                        .zmdi {
                            display: inline-block;
                            font: normal normal normal 14px / 1 'Material-Design-Iconic-Font';
                            font-size: inherit;
                            text-rendering: auto;
                        }
                    }
    
                    input {
                        width: 100%;
                        display: block;
                        border: none;
                        border-bottom: 1px solid #999;
                        padding: 6px 30px;
                        font-family: Poppins;
                        box-sizing: border-box;
                    }
    
                    input, select, textarea {
                        outline: none;
                        appearance: unset !important;
                    }
    
                    input[type=checkbox]:not(old) {
                        width: 2em;
                        margin: 0;
                        padding: 0;
                        font-size: 1em;
                        display: none;
                    }
    
                    input[type=checkbox]:not(old) + label {
                        display: inline-block;
                        line-height: 1.5em;
                        margin-top: 6px;
                    }
    
                    .label-agree-term {
                        position: relative;
                        top: 0%;
                        transform: translateY(0);
                    }
    
                    input[type=checkbox]:not(old) + label > span {
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        margin-right: 15px;
                        margin-bottom: 3px;
                        border: 1px solid #999;
                        border-radius: 2px;
                        background: white;
                        background-image: linear-gradient(white, white);
                        vertical-align: bottom;
                    }
    
                    input[type=checkbox]:not(old):checked + label > span:before {
                        content: '\f26b';
                        display: block;
                        color: #222;
                        font-size: 11px;
                        line-height: 1.2;
                        text-align: center;
                        font-family: 'Material-Design-Iconic-Font';
                        font-weight: bold;
                    }
    
                    input[type=checkbox] {
                        appearance: checkbox !important;
                    }
    
                    .form-submit {
                        display: inline-block;
                        background: #6dabe4;
                        color: #fff;
                        border-bottom: none;
                        width: auto;
                        padding: 15px 39px;
                        border-radius: 5px;
                        margin-top: 25px;
                        cursor: pointer;
                    }
    
                    #signin {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    

 
}