extends ../../_core/layouts/layouts-admin-panel

append vars
    -bodyClass = "page-template-admin-panel-home"
    -typeMenu = ""

block container
    
    .bm-admin-content
        .bm-box-container
            #div-0(class="bm-box-container__wrap")
                h3 Title was here!
                div(class="bm-box-container__content")
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure aperiam blanditiis voluptatum molestias mollitia a nobis vel? Omnis, ex sit corporis similique magni saepe eveniet at nostrum! Consectetur, placeat aspernatur!

        .bm-box-container.container-25
            #div-1(class="bm-box-container__wrap")
                h3 Quick Draft
                div(class="bm-box-container__content")
                    form.form(action="")
                        ul
                            li
                                input#input(type="text", placeholder="Title")
                            li
                                textarea(name="", id="", cols="30", rows="5", placeholder="Whats on your mind?")
                            li
                                button(type="submit") Submit

        .bm-box-container.container-50
            #div-2(class="bm-box-container__wrap")
                h3 Activity
                div(class="bm-box-container__content") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, officia consequatur? Est nisi assumenda atque accusantium omnis. Quae necessitatibus architecto explicabo quasi deleniti accusamus pariatur quos esse alias, sunt nesciunt!

        .bm-box-container.container-25
            #div-3(class="bm-box-container__wrap")
                h3 Quick Draft
                div(class="bm-box-container__content")
                    form.form(action="")
                        ul
                            li
                                label.title(for="title") Title
                                input#title(type="text")
                            li
                                label.title(for="bm-admin-message") Whats on your mind?
                                textarea#bm-admin-message(name="", cols="30", rows="5")
                            li
                                button(type="submit") Submit
