// content
.bm-admin-content {
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 30px;
}

.bm-admin-content, .bm-admin-title {
    @include breakpoint-down(767px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.bm-admin-title {
    gap: 10px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 25px 20px 0;

    &::after {
        content:'';
        display:block;
        clear:both;
    }

    > h1 {
        margin: 0;
        float: left;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;

        > small {
            font-size: 15px;
            display: inline-block;
            padding-left: 4px;
            font-weight: 300;
        }
    }
    > .breadcrumb {
        float: right;
        background: transparent;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        padding: 7px 5px;
        position: absolute;
        top: 15px;
        right: 10px;
        border-radius: 2px;

        > li {
            + li:before {
                content: '>\00a0';
            }

            > a {
                color: #444;
                text-decoration: none;
                display: inline-block;

                > .fa, > .glyphicon, > .ion {
                    margin-right: 5px;
                }   
            }
        }
    }

    @include breakpoint-down(991px) {
        > .breadcrumb {
            position: relative;
            margin-top: 5px;
            top: 0;
            right: 0;
            float: none;
            background: #d2d6de;
            padding-left: 10px;

            li:before {
                color: #97a0b3;
            }
        }
    }
}

a.page-title-action {
    font-weight: 500;
}

.category-box {
    &__row {
        display: flex;
    }

    &__left {
        @include breakpoint-up(lg) {
            left: 33.33333333%;
            width: 66.66666667%;
        }
    }
}

a.button {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}



/*
	* Component: Small Box
	* --------------------
*/
.small-box {
	display: block;
	border-radius: 2px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    
    > .inner {
        padding: 10px;
    }

    > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: white;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;

        &:hover {
            color: white;
            background: rgba(0, 0, 0, 0.15);
        }
    }

    h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    p {
        font-size: 15px;

        > small {
            display: block;
            color: #f9f9f9;
            font-size: 13px;
            margin-top: 5px;
        }
    }

    h3, p {
        z-index: 5;
    }

    .icon {
        transition: all 0.3s linear;
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 0;
        font-size: 90px;
        color: rgba(0, 0, 0, 0.15);
    }

    &:hover {
        text-decoration: none;
        color: #f9f9f9;

        .icon {
            font-size: 95px;
        }
    }
}

@media (max-width: 767px) {
	.small-box {
		text-align: center;

        .icon {
            display: none;
        }

        p {
            font-size: 12px;
        }
	}
}

/* box-chart */
.box-chart .box {
	border: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
}

/* box-welcome */
.box-welcome {
    text-align: center;
    margin-bottom: 20px;
}

/* box-count */
.box-count {
	gap: 0;
	display: grid;
	margin-bottom: 20px;
	grid-template-columns: repeat(4, 1fr);

    .small-box {
        margin: 0;
        border-radius: 0;

        .inner {
            padding: 15px;
        }

        p {
            margin-bottom: 0;
        }

        .icon {
            top: 0;
            right: 15px;
            font-size: 70px;
        }
    }

    .small-box-footer {
        padding: 5px;
    }
}

@media screen and (max-width: 767px)
{
	.box-welcome {
		line-height: 1.5;

        span {
            display: block;
        }
	}

	.box-count {
		grid-template-columns: repeat(2, 1fr);

        .small-box {
            float: left;
            width: 100%;
            margin: 0;

            &:nth-child(even) {
                float: right;
            }

            &:not(:last-child) {
                margin: 0;
            }
        }
	}
}

/* box-visitors */
.box-visitors {
	border-bottom-width: 1px;

    .table-list {
        margin: 0;
        border-top: 0;

        th {
            font-weight: 500;
        }

        th, td {
            height: 36px;	
        }
    }
}

/* box-adminlogs */
.box-adminlogs {
	border-bottom-width: 1px;

    .table-list {
        margin: 0;
        border-top: 0;

        th {
            font-weight: 500;
        }

        th, td {
            height: 36px;
            border-color: transparent ! important;
        }
    }
}

/* box-system */
.box-system {
	margin-bottom: 0;

    strong {
        display: block;
        margin-bottom: 10px;
    }
}

p.text-muted {
	line-height: 1.5;
}

.margin-r-5 {
	margin-right: 5px;
}


@media all and (max-width: 900px) {

    .bm-admin-navbar {
        height: 50px;

        >ul {
            >li {
                >a {
                    line-height: 50px;
                    font-size: 22px;

                    .fa-solid {
                        font-size: 25px;
                    }

                    .title {
                        display: none;
                    }
                }

                ul {
                    top: 50px;
                }
            }
        }
    }

    .bm-admin-content,
    .bm-admin-sidebar {
        height: calc(100% - 50px);
    }
    
    .hide {
        display: none !important;
    }
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.fa-beat, .fa-bounce, .fa-fade, .fa-beat-fade, .fa-flip, .fa-pulse, .fa-shake, .fa-spin, .fa-spin-pulse
{
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
}

.chart {
	position: relative;
	overflow: hidden;
	width: 100%;

    svg, canvas {
        width: 100% !important;
    }
}