extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-list-exams"
    -typeMenu = ""

block container

    section.bm-list-exams
        .container 
            h1.bm-title Danh sách đề thi
            ul
                li 
                    a(href="#") Đề 1
                li 
                    a(href="#") Đề 2
                li 
                    a(href="#") Đề 3
                li 
                    a(href="#") Đề 4
                li 
                    a(href="#") Đề 5
