include ./mixins-common

block vars
    -title = "Title"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title=title
        // Favicon
        link(rel="icon" href="./images/favicon.png")
        // Bootstrap
        link(rel="stylesheet" href="./css/bootstrap.css")
        // Plugins style
        link(rel="stylesheet" href="./css/bundle.min.css")
        // Template syle
        link(rel="stylesheet" href="./css/main.css")
        // Admin bar demo ( Not include )
        style.
            .admin-bar-html {
                margin-top: 32px !important;
            }

            @media screen and (max-width: 782px) {
                .admin-bar-html {
                    margin-top: 46px !important;
                }
            }

            #wpadminbar {
                direction: ltr;
                color: #ccc;
                font-size: 13px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                height: 32px;
                line-height: 32px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                min-width: 600px;
                z-index: 99999;
                background: #23282d;
                padding: 0 15px;
            }

            @media screen and (max-width: 782px) {
                html #wpadminbar {
                    height: 46px;
                    line-height: 46px;
                    min-width: 240px;
                }
            }

            @media screen and (max-width: 600px) {
                #wpadminbar {
                    position: absolute;
                }
            }

    body(class=(bodyClass && bodyClass))
        .bm-container
            // START HEADER
            include ../../components/Header/header
            // CLOSE HEADER

            // START CONTENT
            main.bm-content
                block container
            // CLOSE CONTENT

            // START FOOTER
            //include ../../components/Footer/footer
            // CLOSE FOOTER

        // ForDev
        include ../../components/Fordev/fordev

        
        

        // Jquery
        script(src="./js/jquery.min.js")

        //- <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>
        // Bootstrap
        script(src="./js/popper.min.js")
        script(src="./js/bootstrap.min.js")
        // Plugins script
        script(src="./js/bundle.min.js")
        // Template script
        script(src="./js/scripts.min.js")
        // Scripts demo ( Not include )
        block scripts_demo

        // Icon sprites
        include ./icon-sprites.html