include ./mixins-common

block vars
    -title = "Title"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="robots", content="index,follow")
        meta(name="theme-color", content="#005180")
        meta(name="format-detection", content="telephone=no")
        meta(http-equiv="Content-type", content="text/html; charset=utf-8")
        meta(name="description", content="Trang web thi trắc nghiệm trực tuyến giúp bạn kiểm tra kiến thức, cải thiện kỹ năng và chuẩn bị cho các kỳ thi quan trọng. Đa dạng các bài thi từ học thuật đến chứng chỉ nghề nghiệp.")
        meta(name="keywords", content=)
        meta(property="og:url", content="https://trac-nghiem.io.vn/")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="Website Thi Trắc Nghiệm")
        meta(property="og:title", content=)
        meta(property="og:locale", content="vi_VN")
        meta(property="og:description", content="Trang web thi trắc nghiệm trực tuyến giúp bạn kiểm tra kiến thức, cải thiện kỹ năng và chuẩn bị cho các kỳ thi quan trọng. Đa dạng các bài thi từ học thuật đến chứng chỉ nghề nghiệp.")
        link(href="https://trac-nghiem.io.vn/", rel="canonical")
        link(href="https://trac-nghiem.io.vn/", rel="alternate", media="handheld")

        title=title
        // Favicon
        link(rel="icon" href="./images/favicon.png")
        link(rel="apple-touch-icon" href="./images/favicon.png")
        // Bootstrap
        link(rel="stylesheet" href="./css/bootstrap.min.css")
        // Plugins style
        link(rel="stylesheet" href="./css/bundle.min.css")
        // Template syle
        link(rel="stylesheet" href="./css/main.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        // Admin bar demo ( Not include )
        style.
            .admin-bar-html {
                margin-top: 32px !important;
            }

            @media screen and (max-width: 782px) {
                .admin-bar-html {
                    margin-top: 46px !important;
                }
            }

            #wpadminbar {
                direction: ltr;
                color: #ccc;
                font-size: 13px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                height: 32px;
                line-height: 32px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                min-width: 600px;
                z-index: 99999;
                background: #23282d;
                padding: 0 15px;
            }

            @media screen and (max-width: 782px) {
                html #wpadminbar {
                    height: 46px;
                    line-height: 46px;
                    min-width: 240px;
                }
            }

            @media screen and (max-width: 600px) {
                #wpadminbar {
                    position: absolute;
                }
            }

    body(class=(bodyClass && bodyClass))
        .bm-container
            // START HEADER
            include ../../components/Header/header
            // CLOSE HEADER

            // START CONTENT
            main.bm-content
                block container
            // CLOSE CONTENT

            // START FOOTER
            include ../../components/Footer/footer
            // CLOSE FOOTER

        // ForDev
        include ../../components/Fordev/fordev

        
        

        // Jquery
        script(src="./js/jquery.min.js")

        //- <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>
        <script data-src="https://maps.google.com/maps/api/js?libraries=places&amp;key=AIzaSyBrqJ3COcBz3ZY7ZHRx0N_Fd0Xq_ea49O4" id="google-map"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/build/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.min.js"></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        // Bootstrap
        script(src="./js/popper.min.js")
        script(src="./js/bootstrap.min.js")
        // TinyMCE
        script(src="./js/tinymce/tinymce.min.js")
        // Plugins script
        script(src="./js/bundle.min.js")
        // Template script
        script(src="./js/scripts.min.js")
        // Scripts demo ( Not include )
        block scripts_demo

        // Icon sprites
        //- include ./icon-sprites.html