.bm-admin-sidebar
            ul
                li
                    a(href="./bm-index.html")
                        i.fa-solid.fa-tachometer
                        span.title Trang quản trị
                li.active
                    a(href="./bm-posts.html")
                        i.fa-solid.fa-thumb-tack
                        span.title Bài viết
                    ul.sub-menu
                        li.active
                            a(href="./bm-posts.html") Tất cả bài viết
                        li
                            a(href="./bm-new-post.html") Thêm bài viết
                        li
                            a(href="./bm-category.html") Danh mục
                        li
                            a(href="./bm-tag.html") Thẻ
                li
                    a(href="#")
                        i.fa-solid.fa-file-image
                        span.title
                            | Media
                            span.pending-count 45
                li
                    a(href="./bm-pages.html")
                        i.fa-solid.fa-file
                        span.title Trang
                    ul.sub-menu
                        li.active
                            a(href="./bm-pages.html") Tất cả các Trang
                        li
                            a(href="./bm-new-page.html") Thêm trang mới
                li
                    a(href="#")
                        i.fa-solid.fa-comment
                        span.title Bình luận
                li
                    a(href="./bm-theme.html")
                        i.fa-solid.fa-paintbrush
                        span.title Giao diện
                    ul.sub-menu
                        li.active
                            a(href="./bm-theme.html") Giao diện
                        li
                            a(href="./bm-menu.html") Menu   
                li
                    a(href="#")
                        i.fa-solid.fa-plug
                        span.title Plugin
                    ul.sub-menu
                        li
                            a(href="#") Plugin đã cài đặt
                        li
                            a(href="#") Cài Plugin
                        li
                            a(href="#") Sửa tệp tin Plugin
                li
                    a(href="#")
                        i.fa-solid.fa-wrench
                        span.title Công cụ
                li
                    a(href="./bm-seo.html")
                        i.fa-brands.fa-superpowers
                        span.title SEO
                    ul.sub-menu
                        li
                            a(href="./bm-seo.html") Hiển thị khi tìm kiếm
                        li
                            a(href="./bm-sitemap.html") XML Sitemaps
                        li
                            a(href="./bm-redirects.html") Redirects
                li
                    a(href="./bm-user.html")
                        i.fa-solid.fa-user
                        span.title Thành viên
                    ul.sub-menu
                        li
                            a(href="./bm-user.html") Tất cả người dùng
                        li
                            a(href="./bm-add-user.html") Thêm mới
                        li
                            a(href="./bm-edit-user.html") Hồ sơ
                li
                    a(href="./bm-settings.html")
                        i.fa-solid.fa-cog
                        span.title Cài đặt
                li.line
                    span
                a.bm-collapse-admin-menu(href="#")
                    i.fa-solid.fa-arrow-circle-left
                    span.title Thu gọn menu