.bm-admin-sidebar
            ul
                li
                    a(href="./bm-index.html")
                        i.fa-solid.fa-tachometer
                        span.title Trang quản trị
                li.active
                    a(href="./bm-posts.html")
                        i.fa-solid.fa-thumb-tack
                        span.title Bài viết
                    ul.sub-menu
                        li.active
                            a(href="./bm-posts.html") Tất cả bài viết
                        li
                            a(href="./bm-new-post.html") Thêm bài viết
                        li
                            a(href="./bm-category.html") Danh mục
                        li
                            a(href="#") Thẻ
                li
                    a(href="#")
                        i.fa-solid.fa-file-image
                        span.title
                            | Media
                            span.pending-count 45
                li
                    a(href="#")
                        i.fa-solid.fa-file
                        span.title Trang
                li
                    a(href="#")
                        i.fa-solid.fa-comment
                        span.title Bình luận
                li
                    a(href="#")
                        i.fa-solid.fa-plug
                        span.title Plugin
                    ul.sub-menu
                        li
                            a(href="#") Plugin đã cài đặt
                        li
                            a(href="#") Cài Plugin
                        li
                            a(href="#") Sửa tệp tin Plugin
                li
                    a(href="#")
                        i.fa-solid.fa-wrench
                        span.title Công cụ
                li
                    a(href="./bm-settings.html")
                        i.fa-solid.fa-cog
                        span.title Cài đặt
                li.line
                    span
                a.bm-collapse-admin-menu(href="#")
                    i.fa-solid.fa-arrow-circle-left
                    span.title Thu gọn menu