doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title=title
        link(rel="stylesheet" href="style.css")
    body
        table.email-container
            tbody
                tr
                    td.email-wrapper
                        .email-inner
                            table
                                tbody
                                    tr
                                        td.email-header
                                            a.email-logo(href="#") RT
                            table
                                tbody
                                    tr
                                        td.email-body
                                            block container
                            table
                                tbody
                                    tr
                                        td.email-footer © 2021 RT