/*---------------------------------
**** Objects | Buttons
-----------------------------------*/
.bm-btn,
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: thin solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    font-size: $button-font-size;
    line-height: $button-line-height;
    font-weight: $button-font-weight;
    color: $button-color;
    cursor: pointer;
    position: relative;
    border-radius: $button-border-radius;
    padding: 0.75rem 1rem;

    @include breakpoint-up(xxl) {
        padding: 1.150rem 2rem;
    }
}

.btn {
    background-color: $button-background-color;

    &:hover {
        background-color: $button-background-color-hover;
    }

    @extend %btn-disabled;
}

.bm-btn-custom {
    display: inline-flex;
    position: relative;

    &.bm-btn-white {
        &:hover {
            span {
                background-color: $white;
                color: $red;
            }

            circle {
                stroke: $white;
            }

            path {
                fill: $white;
            }
        }

        span {
            background-color: $white;
            color: $red;
            white-space: nowrap;
        }
    }

    span {
        background-color: $red;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 27px;
        padding: 1rem 1rem;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(24/14);
        text-transform: uppercase;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-timing-function: cubic-bezier(.1, .6, .4, 1);
        transition-duration: .5s;
        transform: translateX(0);

        @include breakpoint-up(ssm) {
            padding: 1rem 2rem;
        }
    }

    svg {
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-timing-function: cubic-bezier(.1, .6, .4, 1);
        transition-duration: .5s;
        flex-shrink: 0;
    }

    .arrow-before {
        transform: scaleX(0) scaleY(0);
        position: relative;
        right: -55px;
        
        @include breakpoint-down(lg) {
            display: none;
        }
    }

    .arrow-after {
        transform: scaleX(1) scaleY(1);
    }

    &:hover {
        @include breakpoint-up(lg) {
            .arrow-before {
                transform: scaleX(1) scaleY(1);
            }
    
            span {
                transform: translateX(55px);
                border-color: $red;
                background-color: $red;
            }
    
            .arrow-after {
                transform: scaleX(0) scaleY(0);
            }
    
            path {
                fill: $red;
            }
    
            circle {
                stroke: $red;
            }
        }
        
    }

    @extend %btn-disabled;
}

%btn-disabled {

    &:disabled,
    &.disabled {
        background-color: $button-disabled-background-color;

        &:hover {
            background-color: $button-disabled-background-color;
        }
    }
}

%btn-link-disabled {

    &:disabled,
    &.disabled {
        color: $link-disabled-color-hover;

        &:hover {
            color: $link-disabled-color-hover;
        }
    }
}

.bm-btn-block {
    display: block;
    width: 100%;
}

.bm-btn-link {
    color: $link-color;
    border: none;
    letter-spacing: 0.2em;
    padding: 0;

    &:hover {
        color: $link-color-hover;
    }

    @extend %btn-link-disabled;
}

.bm-btn-primary {
    background-color: $button-primary-background-color;
    color: $button-primary-color;

    &:hover {
        color: $button-primary-color-hover;
        background-color: $button-primary-background-color-hover;
        border-color: $button-primary-border-color-hover;
    }

    @extend %btn-disabled;
}

.bm-btn-secondary {
    background-color: $button-secondary-background-color;
    color: $button-secondary-color;
    border-color: $button-secondary-border-color;

    &:hover {
        color: $button-secondary-color-hover;
        background-color: $button-secondary-background-color-hover;
        border-color: $button-secondary-border-color-hover;
    }

    @extend %btn-disabled;
}

.bm-btn-outline-primary {
    border-color: $button-outline-border-color;
    color: $button-outline-color;
    background-color: $button-outline-background-color;

    &:hover {
        border-color: $button-outline-border-color-hover;
        color: $button-outline-color-hover;
        background-color: $button-outline-background-color-hover;
    }

    @extend %btn-disabled;
}