.scrollbar-inner {
    > .scroll-element {
        &.scroll-y {
            width: 10px;
        }

        .scroll-element_outer {
            border-radius: 5px
        }

        .scroll-element_track {
            background: $white;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .scroll-bar {
            background-color: $red;
            opacity: 1;
        }

        &:hover {
            .scroll-bar {
                background-color: $red;
                opacity: 1;
            }
        }
    }
}