extends ../../../admin/layouts/layout-admin-panel

append vars
    -bodyClass = "page-template-admin-panel-seo-page"
    -typeMenu = ""

block container
    .bm-admin-title 
        h1 Hiển thị khi tìm kiếm - SEO
    .bm-admin-content
        form(action="https://dienmaytonghop.com/ws-admin/?mod=seo&amp;act=setting", method="post", accept-charset="utf-8" class="bm-seo")
            input(type="hidden", name="sub", value="update")
            div(class="nav-tabs-custom no-margin")
                ul(class="nav nav-tabs")
                    li(class="active")
                        a(href="#wsseo_titles", data-toggle="tab") Hiển thị khi tìm kiếm
            div(class="tab-content")
                div(id="tab-wsseo_titles", class="tab-pane active")
                    table(class="form-table no-margin")
                        tbody
                            tr(id="field-prefix_title_tag", class="field-setting")
                                th(scope="row")
                                    label(for="separator") Dấu ngăn cách
                                td
                                    div(class="wsseo-radio-block")
                                        input#separator-sc-dash(type="radio", name="setting[separator]", value="sc-dash")
                                        label(for="separator-sc-dash", title="Dấu gạch ngang", data-toggle="tooltip") -
                                        input#separator-sc-ndash(type="radio", name="setting[separator]", value="sc-ndash")
                                        label(for="separator-sc-ndash", title="Dấu gạch ngang ngắn", data-toggle="tooltip") –
                                        input#separator-sc-mdash(type="radio", name="setting[separator]", value="sc-mdash")
                                        label(for="separator-sc-mdash", title="Dấu gạch ngang dài", data-toggle="tooltip") —
                                        input#separator-sc-colon(type="radio", name="setting[separator]", value="sc-colon")
                                        label(for="separator-sc-colon", title="Dấu hai chấm", data-toggle="tooltip") :
                                        input#separator-sc-middot(type="radio", name="setting[separator]", value="sc-middot")
                                        label(for="separator-sc-middot", title="Chấm giữa", data-toggle="tooltip") ·
                                        input#separator-sc-bull(type="radio", name="setting[separator]", value="sc-bull")
                                        label(for="separator-sc-bull", title="Dấu đầu dòng", data-toggle="tooltip") •
                                        input#separator-sc-star(type="radio", name="setting[separator]", value="sc-star")
                                        label(for="separator-sc-star", title="Dấu hoa thị", data-toggle="tooltip") *
                                        input#separator-sc-smstar(type="radio", name="setting[separator]", value="sc-smstar")
                                        label(for="separator-sc-smstar", title="Dấu hoa thị thấp", data-toggle="tooltip") ⋆
                                        input#separator-sc-pipe(type="radio", name="setting[separator]", value="sc-pipe", checked="checked")
                                        label(for="separator-sc-pipe", title="", data-toggle="tooltip", data-original-title="Dấu gạch đứng") |
                                        input#separator-sc-tilde(type="radio", name="setting[separator]", value="sc-tilde")
                                        label(for="separator-sc-tilde", title="Dấu ngã nhỏ", data-toggle="tooltip") ~
                                        input#separator-sc-laquo(type="radio", name="setting[separator]", value="sc-laquo")
                                        label(for="separator-sc-laquo", title="", data-toggle="tooltip", data-original-title="Dấu <<") «
                                        input#separator-sc-raquo(type="radio", name="setting[separator]", value="sc-raquo")
                                        label(for="separator-sc-raquo", title="", data-toggle="tooltip", data-original-title="Dấu >>") »
                                        input#separator-sc-lt(type="radio", name="setting[separator]", value="sc-lt")
                                        label(for="separator-sc-lt", title="Dấu nhỏ hơn", data-toggle="tooltip") &amp;lt;
                                        input#separator-sc-gt(type="radio", name="setting[separator]", value="sc-gt")
                                        label(for="separator-sc-gt", title="Dấu lớn hơn", data-toggle="tooltip") &amp;gt;
                                    p(class="description") Chọn ký tự để làm dấu ngăn cách tiêu đề. Ký tự này sẽ hiển thị, lấy ví dụ, giữa tiêu đề bài viết và tên của trang web. Ký tự sẽ hiển thị với kích cỡ sẽ xuất hiện trong các kết quả tìm kiếm.
                            tr(id="field-prefix_title_tag", class="field-setting")
                                th(scope="row")
                                    label(for="before_title_tag") Tiền tố thẻ Title
                                td
                                    div(class="group-control-wrap")
                                        label(class="switch")
                                            input(type="checkbox", name="before_title_tag", value="1", id="before_title_tag")
                                            span(class="slider round")
                                        div(class="group-control hide")
                                            input(type="text", name="setting[before_title_tag_text]", value="", id="before_title_tag_text", class="form-control regular-text")
                                            p(class="description") Nội dung sẽ được 
                                                code thêm vào phía trước
                                                | &nbsp;nội dung&nbsp;
                                                code thẻ Title
                                                | .
                            tr(id="field-after_title_tag", class="field-setting")
                                th(scope="row")
                                    label(for="after_title_tag") Hậu tố thẻ Title
                                td
                                    div(class="group-control-wrap")
                                        label(class="switch")
                                            input(type="checkbox", name="after_title_tag", value="1", id="after_title_tag")
                                            span(class="slider round")
                                        div(class="group-control hide")
                                            input(type="text", name="setting[after_title_tag_text]", value="DMTD", id="after_title_tag_text", class="form-control regular-text")
                                            p(class="description") Nội dung sẽ được 
                                                code thêm vào phía sau
                                                | &nbsp;nội dung&nbsp;
                                                code thẻ Title
                                                | .
                            tr(id="field-before_metadesc_tag", class="field-setting")
                                th(scope="row")
                                    label(for="before_metadesc_tag") Tiền tố thẻ metadesc
                                td
                                    div(class="group-control-wrap")
                                        label(class="switch")
                                            input(type="checkbox", name="before_metadesc_tag", value="1", id="before_metadesc_tag")
                                            span(class="slider round")
                                        div(class="group-control hide")
                                            input(type="text", name="setting[before_metadesc_tag_text]", value="", id="before_metadesc_tag_text", class="form-control regular-text")
                                            p(class="description") Nội dung sẽ được 
                                                code thêm vào phía trước
                                                | &nbsp;nội dung&nbsp;
                                                code thẻ Meta description
                                                | .
                            tr(id="field-after_metadesc_tag", class="field-setting")
                                th(scope="row")
                                    label(for="after_metadesc_tag") Hậu tố thẻ metadesc
                                td
                                    div(class="group-control-wrap")
                                        label(class="switch")
                                            input(type="checkbox", name="after_metadesc_tag", value="1", id="after_metadesc_tag")
                                            span(class="slider round")
                                        div(class="group-control hide")
                                            input(type="text", name="setting[after_metadesc_tag_text]", value="Gọi ngay 0936 665 880", id="after_metadesc_tag_text", class="form-control regular-text")
                                            p(class="description") Nội dung sẽ được 
                                                code thêm vào phía sau
                                                | &nbsp;nội dung&nbsp;
                                                code thẻ Meta description
                                                | .
                            tr#field-urltypes(class="field-setting")
                                th(scope="row")
                                    label(for="urltypes") Các loại đường dẫn
                                td
                                    textarea#urltypes(name="setting[urltypes]", cols="40", rows="3", class="form-control large-text", style="height: 72px; overflow: hidden;")
                                    p(class="description") Cung cấp các loại đường dẫn mà các liên kết nên được đặt. Một loại đường dẫn trên mỗi dòng. Không bắt buộc.
                            tr#field-blacklist(class="field-setting")
                                th(scope="row")
                                    label(for="blacklist") Danh sách đen
                                td
                                    textarea#blacklist(name="setting[blacklist]", cols="40", rows="3", class="form-control large-text", style="height: 72px; overflow: hidden;")
                                    p(class="description") Cung cấp các trang không nên thay đổi. Một url trên mỗi dòng. Không bắt buộc.
                            tr#field-buttons(class="field-setting")
                                th(scope="row")
                                    input(type="submit", name="form-submitted", value="Lưu thay đổi", class="button btn-submit")
