extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-home"
    -typeMenu = ""

block container
    section.bm-home 
        .container 
            .bm-home__welcome 
                h1 Chào mừng, Student 1
            .bm-home__menu 
                ul 
                    li 
                        a(href='./student/exams.php') Làm bài thi

            .bm-home__exam
                h2 Danh sách kết quả đề thi
                ul 
                    li 
                        a(href="#") Tiếng Anh 1
                    li 
                        a(href="#") Tiếng Anh 2
                    li 
                        a(href="#") Tiếng Anh 3
                    li 
                        a(href="#") Tin học