extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-home"
    -typeMenu = ""

block container
    section.bm-home 
        .container 
            .bm-home__wrap 
                .bm-home__menu 
                    a(href='./student/exams.php') Làm bài thi
                    a(href='./student/list-results.php') Xem kết quả
                .bm-home__welcome 
                    h1 Chào mừng, IT Test
