.bm-home {
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}