.bm-home-page {
    ul {
        @include reset-list;
    }

    li {
        padding-left: 2rem;

        a {
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.wrapper {
    display: flex;
    flex: 1;
}

.admin-menu {
    width: 60px;
    /* Bắt đầu với menu thu gọn */
    background-color: #23282d;
    color: #fff;
    transition: width 0.3s ease;
    overflow: hidden;

    &.collapsed {
        width: 60px;

        ul li a {
            text-align: center;
            padding: 10px 0;

            span {
                display: none;
            }
        }
    }

    &.expanded {
        width: 200px;

        ul li a {
            text-align: left;
            padding: 10px 15px;

            span {
                display: inline;
            }
        }

        ul ul {
            left: 200px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;

            a {
                display: block;
                padding: 10px 15px;
                color: #fff;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                span {
                    display: inline;
                }

                &:hover {
                    background-color: #0073aa;
                }
            }

            ul {
                display: none;
                position: absolute;
                left: 60px;
                /* Thay đổi vị trí khi menu thu gọn */
                top: 0;
                background-color: #32373c;

                li a {
                    padding: 10px 20px;
                }
            }

            &:hover>ul {
                display: block;
            }
        }
    }
}

.content {
    flex: 1;
    padding: 20px;
}

.menu-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #0073aa;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .admin-menu {
        width: 60px;

        &.expanded {
            width: 200px;
        }

        ul li a {
            text-align: left;
            padding: 10px 15px;

            span {
                display: inline;
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }

        ul ul {
            left: 200px;
        }
    }

    .menu-toggle {
        display: block;
    }
}