extends layouts-admin-panel

append vars
    -bodyClass = "page-template-admin-panel-setting"
    -typeMenu = ""

block container
    .bm-admin-content
        .bm-box-container__wrap-title
            h1 Cài đặt chung
        .clear(style="height: 10px;")
        .bm-box-container__wrap-title
            form(action="" class="form-admin label")
                ul 
                    li
                        label(for="title") Tiêu đề trang web
                        .form-content
                            input(type="text" id="title")
                    li 
                        label(for="description") Mô tả
                        .form-content
                            textarea(name="description" id="description" cols="30" rows="5")
                            p Trong một vài từ, hãy giới thiệu trang web này nói về cái gì. Ví dụ: “Một trang web mới sử dụng WordPress.”
                    li 
                        label(for="tag-line") Địa chỉ email quản trị
                        .form-content
                            input(type="text" id="tag-line")
                            p Địa chỉ email này được sử dụng cho mục đích quản trị.
                    li 
                        .label Thành viên
                        .form-content
                            label(class="not" for="membership")
                                input(type="checkbox" value="1" id="membership") 
                                | Ai cũng có thể đăng ký
                    li 
                        label(for="select") Vai trò của thành viên mới	
                        .form-content
                            select(name="select" id="select")
                                option(value="") User
                                option(value="") Admin
                                option(value="") Moderator

                    li(class="submit")
                        button(type="submit") Save Changes
