extends ../../../admin/layouts/layout-admin-panel

append vars
    -bodyClass = "page-template-admin-panel-page"
    -typeMenu = ""

block container

    .bm-admin-title 
        h1 Trang
        #toolbar.toolbar
            a.page-title-action.button.action-add(href="#") Thêm trang   

    .bm-admin-content
        form(action="https://dienmaytonghop.com/ws-admin/?mod=page", name="manage", class="admin-tablelist", method="post", accept-charset="utf-8")
            input(type="hidden", name="action", value="search")
            input(type="hidden", name="modnow", value="page")
            input(type="hidden", name="pagenow", value="page")
            input(type="hidden", name="typenow", value="manage")
            div#posts-filter(class="posts-filter")
                ul(class="subsubsub")
                    li
                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page", class="current") Tất cả 
                            span(class="count") (18)
                    li
                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;post_status=publish") Đã xuất bản 
                            span(class="count") (18)
                div#search-box(class="search-box")
                    input(type="text", name="keyword", value="", class="form-control text-search")
                    input(type="submit", name="search", value="Tìm trang", class="button btn-search")
            div(class="tablenav top")
                div(class="btn-group")
                    div(class="actions bulkactions")
                        select#doaction(name="doaction", class="form-control")
                            option(value="", selected="selected", data-select2-id="2") Hành động
                            option(value="update") Cập nhật
                            option(value="del") Xóa trang
                        
                        input(type="submit", value="Áp dụng", class="button")
                div(class="btn-group")
                    div(class="actions bulkfilters")
                        select(name="filter_date", id="filter_date", class="form-control")
                            option(value="", selected="selected", data-select2-id="4") Tất cả các ngày
                            option(value="today") Hôm nay
                            option(value="yesterday") Hôm qua
                            option(value="this_week") Tuần này
                            option(value="this_month") Tháng này
                            option(value="7_days_last") 7 ngày trước
                            option(value="30_days_last") 30 ngày gần đây
                        
                        input(type="submit", name="search", value="Lọc", class="button")
                div(class="tablenav-pages")
                    span(class="displaying-num") 18 mục
            table(class="ws-list-table table-view-list table-list page")
                thead
                    tr
                        th(scope="col", class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="checkall", value="")
                        th(scope="col", class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=title&amp;order=desc", class="sorted desc") Tiêu đề
                        th(scope="col", class="manage-column column-picture", data-colname="picture")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=picture&amp;order=desc", class="sorted desc") Hình ảnh
                        th(scope="col", class="manage-column column-slug", data-colname="slug")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=slug&amp;order=desc", class="sorted desc") Đường dẫn
                        th(scope="col", class="manage-column column-date", data-colname="date")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=date&amp;order=desc", class="sorted desc") Thời gian
                        th(scope="col", class="manage-column column-action", data-colname="action") Tác vụ
                tbody
                    tr(id="row_25", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="25", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=25", class="title-link-edit") Sản phẩm
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=25", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=25&amp;action=hidden", onclick="do_check(25); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=25", class="row-action row-action-delete", onclick="return do_delete(25)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/san-pham", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | san-pham
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 31/10/2024 lúc 11:25 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=25", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(25)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(25)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_24", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="24", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=24", class="title-link-edit") Bảng giá
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=24", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=24&amp;action=hidden", onclick="do_check(24); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=24", class="row-action row-action-delete", onclick="return do_delete(24)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/bang-gia", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | bang-gia
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 31/10/2024 lúc 11:23 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=24", title="", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue", data-original-title="Chỉnh sửa") Chỉnh sửa
                                button(type="button", title="", data-bs-toggle="tooltip", onfocus="do_check(24)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display", data-original-title="Đang hiện")
                                button(type="button", value="del", title="", data-bs-toggle="tooltip", onfocus="do_check(24)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red", data-original-title="Xóa bỏ")
                    tr(id="row_23", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="23", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=23", class="title-link-edit") Dịch vụ
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=23", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=23&amp;action=hidden", onclick="do_check(23); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=23", class="row-action row-action-delete", onclick="return do_delete(23)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/dich-vu", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | dich-vu
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 13/10/2024 lúc 7:47 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=23", title="", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue", data-original-title="Chỉnh sửa") Chỉnh sửa
                                button(type="button", title="", data-bs-toggle="tooltip", onfocus="do_check(23)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display", data-original-title="Đang hiện")
                                button(type="button", value="del", title="", data-bs-toggle="tooltip", onfocus="do_check(23)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red", data-original-title="Xóa bỏ")
                    tr(id="row_22", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="22", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=22", class="title-link-edit") Quản lý đơn hàng
                            span(class="post-state") Order List Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=22", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=22&amp;action=hidden", onclick="do_check(22); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=22", class="row-action row-action-delete", onclick="return do_delete(22)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/quan-ly-don-hang", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | quan-ly-don-hang
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 20/05/2022 lúc 5:04 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=22", title="", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue", data-original-title="Chỉnh sửa") Chỉnh sửa
                                button(type="button", title="", data-bs-toggle="tooltip", onfocus="do_check(22)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display", data-original-title="Đang hiện")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(22)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_21", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="21", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=21", class="title-link-edit") Đổi mật khẩu
                            span(class="post-state") Password Change Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=21", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=21&amp;action=hidden", onclick="do_check(21); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=21", class="row-action row-action-delete", onclick="return do_delete(21)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/doi-mat-khau", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | doi-mat-khau
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 20/05/2022 lúc 5:04 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=21", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(21)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(21)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_20", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="20", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=20", class="title-link-edit") Tài khoản
                            span(class="post-state") Account Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=20", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=20&amp;action=hidden", onclick="do_check(20); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=20", class="row-action row-action-delete", onclick="return do_delete(20)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/tai-khoan", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | tai-khoan
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/05/2022 lúc 2:38 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=20", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(20)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(20)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_19", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="19", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=19", class="title-link-edit") Đăng ký
                            span(class="post-state") Register Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=19", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=19&amp;action=hidden", onclick="do_check(19); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=19", class="row-action row-action-delete", onclick="return do_delete(19)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/dang-ky", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | dang-ky
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/05/2022 lúc 2:35 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=19", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(19)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(19)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_18", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="18", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=18", class="title-link-edit") Đăng nhập
                            span(class="post-state") Login Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=18", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=18&amp;action=hidden", onclick="do_check(18); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=18", class="row-action row-action-delete", onclick="return do_delete(18)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/dang-nhap", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | dang-nhap
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/05/2022 lúc 2:34 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=18", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(18)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(18)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_17", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="17", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=17", class="title-link-edit") Quên mật khẩu
                            span(class="post-state") Forgot Password Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=17", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=17&amp;action=hidden", onclick="do_check(17); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=17", class="row-action row-action-delete", onclick="return do_delete(17)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/quen-mat-khau", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | quen-mat-khau
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/05/2022 lúc 2:33 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=17", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(17)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(17)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_16", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="16", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=16", class="title-link-edit") Giỏ hàng
                            span(class="post-state") Cart Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=16", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=16&amp;action=hidden", onclick="do_check(16); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=16", class="row-action row-action-delete", onclick="return do_delete(16)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/gio-hang", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | gio-hang
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/05/2022 lúc 2:29 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=16", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(16)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(16)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_15", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="15", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=15", class="title-link-edit") So sánh sản phẩm
                            span(class="post-state") Compare Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=15", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=15&amp;action=hidden", onclick="do_check(15); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=15", class="row-action row-action-delete", onclick="return do_delete(15)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/so-sanh-san-pham", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | so-sanh-san-pham
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 16/05/2022 lúc 8:26 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=15", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(15)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(15)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_14", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="14", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=14", class="title-link-edit") Kiểm tra đơn hàng
                            span(class="post-state") Order Check Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=14", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=14&amp;action=hidden", onclick="do_check(14); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=14", class="row-action row-action-delete", onclick="return do_delete(14)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/kiem-tra-don-hang", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | kiem-tra-don-hang
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 13/05/2022 lúc 5:54 sáng
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=14", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(14)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(14)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_12", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="12", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=12", class="title-link-edit") Giới thiệu
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=12", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=12&amp;action=hidden", onclick="do_check(12); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=12", class="row-action row-action-delete", onclick="return do_delete(12)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/gioi-thieu", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | gioi-thieu
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 11/04/2022 lúc 1:21 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=12", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(12)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(12)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_7", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="7", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=7", class="title-link-edit") Chính sách vận chuyển
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=7", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=7&amp;action=hidden", onclick="do_check(7); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=7", class="row-action row-action-delete", onclick="return do_delete(7)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/chinh-sach-van-chuyen", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | chinh-sach-van-chuyen
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 11/04/2022 lúc 1:16 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=7", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(7)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(7)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_4", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="4", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=4", class="title-link-edit") Chính sách bảo mật
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=4", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=4&amp;action=hidden", onclick="do_check(4); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=4", class="row-action row-action-delete", onclick="return do_delete(4)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/chinh-sach-bao-mat", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | chinh-sach-bao-mat
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 11/04/2022 lúc 1:13 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=4", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(4)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(4)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_10", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="10", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=10", class="title-link-edit") Mua trả góp
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=10", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=10&amp;action=hidden", onclick="do_check(10); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=10", class="row-action row-action-delete", onclick="return do_delete(10)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/mua-tra-gop", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | mua-tra-gop
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 18/08/2021 lúc 7:28 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=10", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(10)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(10)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_3", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="3", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=3", class="title-link-edit") Chính sách đổi trả
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=3", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=3&amp;action=hidden", onclick="do_check(3); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=3", class="row-action row-action-delete", onclick="return do_delete(3)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/chinh-sach-doi-tra", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | chinh-sach-doi-tra
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 27/06/2021 lúc 7:00 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=3", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(3)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(3)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                    tr(id="row_5", class="row_item")
                        td(class="manage-column column-cb", data-colname="cb")
                            input(type="checkbox", name="ids[]", value="5", class="checkbox")
                        td(class="manage-column column-title", data-colname="title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=5", class="title-link-edit") Liên Hệ
                            span(class="post-state") Contact Page
                            div(class="row-actions")
                                ul
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=5", class="row-action row-action-edit") Chỉnh sửa
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;id=5&amp;action=hidden", onclick="do_check(5); do_submit('hidden')", class="row-action do-action row-action-hidden") Bản nháp
                                    li
                                        a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=del&amp;id=5", class="row-action row-action-delete", onclick="return do_delete(5)") Thùng rác
                                    li
                                        a(href="https://dienmaytonghop.com/lien-he", class="preview-link", target="_blank") Xem
                        td(class="manage-column column-picture", data-colname="picture")
                            img(src="https://dienmaytonghop.com/uploads/page/thumbs/noimage.webp", width="50", alt="")
                        td(class="manage-column column-slug", data-colname="slug")
                            | lien-he
                        td(class="manage-column column-date", data-colname="date")
                            | Đã xuất bản
                            br
                            | 12/06/2020 lúc 11:51 chiều
                        td(class="manage-column column-action", data-colname="action")
                            div(class="row_action")
                                a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;sub=edit&amp;id=5", title="Chỉnh sửa", data-bs-toggle="tooltip", class="btn-action action-edit bg-blue") Chỉnh sửa
                                button(type="button", title="Đang hiện", data-bs-toggle="tooltip", onfocus="do_check(5)", onclick="do_submit('hidden')", class="btn-action btn-do-action action-display")
                                button(type="button", value="del", title="Xóa bỏ", data-bs-toggle="tooltip", onfocus="do_check(5)", onclick="return do_submit(this.value)", class="btn-action action-delete bg-red")
                tfoot
                    tr
                        td(class="manage-column column-cb")
                            input(type="checkbox", name="checkall", value="")
                        td(class="manage-column column-title")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=title&amp;order=desc", class="sorted desc") Tiêu đề
                        td(class="manage-column column-picture")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=picture&amp;order=desc", class="sorted desc") Hình ảnh
                        td(class="manage-column column-slug")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=slug&amp;order=desc", class="sorted desc") Đường dẫn
                        td(class="manage-column column-date")
                            a(href="https://dienmaytonghop.com/ws-admin/?mod=page&amp;orderby=date&amp;order=desc", class="sorted desc") Thời gian
                        td(class="manage-column column-action") Tác vụ
            div(class="tablenav bottom")
                div(class="btn-group")
                    div(class="actions bulkactions")
                        select#doaction2(name="doaction2", class="form-control select2-hidden-accessible", data-select2-id="doaction2", tabindex="-1", aria-hidden="true")
                            option(value="", selected="selected", data-select2-id="6") Hành động
                            option(value="update") Cập nhật
                            option(value="del") Xóa trang
                       
                        input(type="submit", value="Áp dụng", class="button")
                div(class="tablenav-pages")
                    span(class="displaying-num") 18 mục
